{% trans_default_domain 'FOSUserBundle' %}

<div class="retourAccueil">
    <a href="{{ path('accueil') }}">
        <i class="fas fa-arrow-left"></i> {{ "Retour au site"|trans }}
    </a>
</div>

{% if error %}
    <div class="errors"><i class="fas fa-exclamation-circle"></i>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form class="mw960p center" action="{{ path("fos_user_security_check") }}" method="post">
    <img src="{{ asset('../assets/img/ninaV3Vertical.png') }}" alt="CMS Nina 3.0">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />

    <a href="{{ path("fos_user_resetting_request") }}" class="mdpOublie fr">{% trans %}Mot de passe oublié ?{% endtrans %}</a>
    {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

    <input type="submit" id="_submit" class="center" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
