{% if bloc.contenu.cases is defined %}
    {% set cases = bloc.contenu.cases %}
    <div class="{% if bloc.contenu.nbColonnes == 'flex' %}flex-container{% else %}grid-{{ bloc.contenu.nbColonnes }}-small-2-tiny-1 has-gutter-xl{% endif %}">
        {% for case in cases|sortBy('position') %}
            <div class="blocGrille-case{% if bloc.contenu.nbColonnes == 'flex' %} flex-item-center{% endif %}">
                {% if (case.type is not defined or (case.type is defined and case.type == 'page')) and case.page is defined and case.page is not empty %}
                    {% set page = page(case.page) %}
                    <div class="blocGrille-case-image">
                        {{ blocAnnexe(page, "Vignette") }}
                    </div>
                    <h3>{{ page.titre }}</h3>
                    {{ blocAnnexe(page, "Resume") }}
                    <a href="{{ lienPage(page) }}" class="bouton">{{ "Voir la page"|trans }}</a>
                {% else %}
                    {% if case.image.image is defined and case.image.image is not empty %}
                        <div class="blocGrille-case-image">
                            <img src="{{ getTaille(case.image.image, 'medium') }}" alt="{{ case.image.description }}" {% if case.image.titre is defined %}title="{{ case.image.titre }}"{% endif %} {% if getSrcSet(case.image.image) is not empty %}srcset="{{ getSrcSet(case.image.image) }}" sizes="500px"{% endif %}>
                        </div>
                    {% endif %}
                    {% if case.titre is defined and case.titre is not empty %}
                        <h3>{{ case.titre }}</h3>
                    {% endif %}
                    {% if case.texte is defined and case.texte is not empty %}
                        <div class="blocGrille-case-texte">
                            {{ case.texte|raw }}
                        </div>
                    {% endif %}
                    {% if (case.lien.lien is defined and case.lien.lien is not empty) or (case.lien.page is defined and case.lien.page is not empty) %}
                        <a class="bouton" href="
                            {% if case.lien.page is defined and case.lien.page is not empty %}
                                {% set page = page(case.lien.page) %}
                                {{ lienPage(page) }}
                            {% else %}
                                {{ case.lien.lien }}
                            {% endif %}
                            "
                            {% if case.lien.blank.0 is defined and case.lien.blank.0 %}
                                target="_blank"
                            {% endif %}
                            {% if case.lien.titre is defined and case.lien.titre is not empty %}
                                title="{{ case.lien.titre }}"
                            {% endif %}
                        >
                            {% if case.lien.texte is defined and case.lien.texte is not empty %}
                                {{ case.lien.texte|raw }}
                            {% elseif case.lien.page is defined and case.lien.page is not empty %}
                                {{ page.titre }}
                            {% else %}
                                {{ "Voir la page"|trans }}
                            {% endif %}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}