{% trans_default_domain 'FOSUserBundle' %}

<div class="retourAccueil">
    <a href="
        {% if langues|length > 1 %}
            {{ path('accueilLocale', { '_locale': langueActive.abreviation }) }}
        {% else %}
            {{ path('accueil') }}
        {% endif %}
    ">
        <i class="fas fa-arrow-left"></i> {{ "Retour au site"|trans }}
    </a>
</div>

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>
