<tr>
    <td>
        {% if infos.page is not empty %}
            {% set entite = infos.page.active ? 'Page_Active' : 'Page_Corbeille' %}
            <a href="{{ path('easyadmin', { entity: entite, action: "edit", id: infos.page.id}) }}">
                {{ infos.page }}
            </a>
        {% endif %}
    </td>
    <td>
        {% if infos.groupeBlocs is not empty %}
            <a href="{{ path('easyadmin', { entity: "GroupeBlocs", action: "edit", id: infos.groupeBlocs.id}) }}">
                {{ infos.page }}
            </a>
        {% endif %}
    </td>
    <td>{{ infos.typeBloc }}</td>
    <td>{{ infos.lien }}</td>
</tr>