{% extends 'back/base.html.twig' %}

{% block content %}
    <h1>{{ "Liste des liens morts"|trans }}</h1>
    {% if imagesBlocs is not empty %}
        <h2>{{ "Images dans des blocs"|trans }}</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Page</th>
                <th>Groupe de Blocs</th>
                <th>Type de Bloc</th>
                <th>Lien mort</th>
            </tr>
            </thead>
            {% for image in imagesBlocs %}
                <tr>
                    <td>
                        {% if image.page is not empty %}
                            {% set entite = image.page.active ? 'Page_Active' : 'Page_Corbeille' %}
                            <a href="{{ path('easyadmin', { entity: entite, action: "edit", id: image.page.id}) }}">
                                {{ image.page }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if image.groupeBlocs is not empty %}
                            <a href="{{ path('easyadmin', { entity: "GroupeBlocs", action: "edit", id: image.groupeBlocs.id}) }}">
                                {{ image.page }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ image.typeBloc }}</td>
                    <td>{{ image.lien }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if imagesAutres is not empty %}
        <h2>{{ "Autres images"|trans }}</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Origine</th>
                <th>Lien mort</th>
            </tr>
            </thead>
            {% for image in imagesAutres %}
                <tr>
                    <td>
                        <a href="{{ path('easyadmin', { entity: image.typeEntite, action: 'edit', id: image.idEntite }) }}">
                            {{ image.origine }}
                        </a>
                    </td>
                    <td>{{ image.lien }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if liensBlocs is not empty %}
        <h2>{{ "Liens dans des blocs"|trans }}</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Page</th>
                <th>Groupe de Blocs</th>
                <th>Type de Bloc</th>
                <th>Lien mort</th>
            </tr>
            </thead>
            {% for lien in liensBlocs %}
                <tr>
                    <td>
                        {% if lien.page is not empty %}
                            {% set entite = lien.page.active ? 'Page_Active' : 'Page_Corbeille' %}
                            <a href="{{ path('easyadmin', { entity: entite, action: "edit", id: lien.page.id}) }}">
                                {{ lien.page }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if lien.groupeBlocs is not empty %}
                            <a href="{{ path('easyadmin', { entity: "GroupeBlocs", action: "edit", id: lien.groupeBlocs.id}) }}">
                                {{ lien.page }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ lien.typeBloc }}</td>
                    <td>{{ lien.lien }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}