{% set resultats = listePagesEnfants(bloc.page, bloc.contenu) %}

<div class="pagination">
    {{ resultats.pagination|raw }}
</div>

<div class="grid-3-small-2-tiny-1 has-gutter-xl">
    {% for page in resultats['donnees'] %}
        <div class="blocRubrique-page flex-container-v">
            {{ blocAnnexe(page, 'Vignette') }}
            <h2>{{ page.titre }}</h2>
            {{ blocAnnexe(page, 'Resume') }}
            <a class="bouton lire" href="
                {% if langues|length > 1 %}
                    {{ path("voirPageLocale", { '_locale': page.langue.abreviation, 'url': page.seo.url}) }}
                {% else %}
                    {{ path("voirPage", { 'url': page.seo.url}) }}
                {% endif %}
            ">{% trans %}Voir la page{% endtrans %}</a>
        </div>
    {% endfor %}
</div>

<div class="pagination">
    {{ resultats.pagination|raw }}
</div>