<header class="header_front">
    <div class="mw960p center flex-container">
        <div>
            <a href="{{ path('accueil', { '_locale':langueActive.abreviation }) }}"><img class="logo" src="{{ config.logo }}" alt="CMS Nina"></a>
            <p>{{ config.nom }}</p>
            {{ blocs(region='header') }}
        </div>
        {% if langues is not empty %}
            <div class="txtright flex-item-fluid">
                <ul class="flex-container menuLangues">
                    {% for langue in langues %}
                        <li {% if app.request.locale == langue.abreviation %}class="active"{% endif %}>
                            {% if page is not empty %}
                                <a href="{{ path('changerLangue', {'id':langue.id, 'idPage':page.id}) }}">{{ langue.abreviation|upper }}</a>
                            {% else %}
                                <a href="{{ path('changerLangue', {'id':langue.id}) }}">{{ langue.abreviation|upper }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</header>
{{ groupes(region.id) }}