{{ dump() }}

<div id="slider{{ bloc.id }}">
    {% if bloc.contenu.Slide is defined %}
        {% for slide in bloc.contenu.Slide|sortBy('position') %}
            <div>
                <img src="{{ slide.image.image }}" {% if slide.image.titre is defined %}alt="{{ slide.image.titre }}"{% endif %}>
                <div>
                    {% if slide.image.titre is not empty %}
                        <p>{{ slide.image.titre }}</p>
                    {% endif %}
                    {% if slide.image.description is not empty %}
                        <p>{{ slide.image.description }}</p>
                    {% endif %}
                    {% if slide.lien is not empty %}
                        <p><a href="{{ slide.lien }}">{{ "Lire la suite"|trans }}</a></p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

<script>
    options = {};
    {% if bloc.contenu.nbSlides is defined and bloc.contenu.nbSlides != 1 %}
        options["slidesToShow"] = {{ bloc.contenu.nbSlides }};
        options["slidesToScroll"] = {{ bloc.contenu.nbSlides }};
        options["infinite"] = true;
    {% endif %}
    {% if bloc.contenu.autoplay is defined and bloc.contenu.autoplay != 0 %}
        options["autoplay"] = true;
    {% endif %}
    {% if bloc.contenu.fleches is defined and bloc.contenu.fleches != 0 %}
        options["arrows"] = true;
    {% endif %}
    {% if bloc.contenu.points is defined and bloc.contenu.points != 0 %}
        options["dots"] = true;
    {% endif %}
    console.log(options);

    $('#slider{{ bloc.id }}').slick(options);
</script>