<div id="slider{{ bloc.id }}">
    {% if bloc.contenu.Slide is defined %}
        {% for slide in bloc.contenu.Slide|sortBy('position') %}
            <div>
                <img src="{{ slide.image.image }}" {% if slide.image.titre is defined %}title="{{ slide.image.titre }}"{% endif %} {% if slide.image.description is defined %}alt="{{ slide.image.description }}"{% endif %}>
                {% if slide.texte is not empty or slide.lien is not empty %}
                    <div class="blocSlider-slide--texte">
                        {% if slide.texte is defined and slide.texte is not empty %}
                            <div class="slide--texte">{{ slide.texte|raw }}</div>
                        {% endif %}
                        {% if (slide.lien is defined and slide.lien is not empty) or (slide.page is defined and slide.page is not empty) %}
                            <p class="slide--lien">
                                <a href="
                                    {% if slide.page is defined and slide.page is not empty %}
                                        {% set page = page(slide.page) %}
                                        {{ lienPage(page) }}
                                    {% else %}
                                        {{ slide.lien }}
                                    {% endif %}
                                    "
                                    {% if slide.blank is defined and slide.blank %}
                                        target="_blank"
                                    {% endif %}
                                >{{ "Lire la suite"|trans }}</a>
                            </p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
</div>

<script>
    options = {};
    {% if bloc.contenu.nbSlides is defined and bloc.contenu.nbSlides is not empty and bloc.contenu.nbSlides != 1 %}
        options["slidesToShow"] = {{ bloc.contenu.nbSlides }};
        options["slidesToScroll"] = {{ bloc.contenu.nbSlides }};
        options["infinite"] = true;
    {% endif %}
    {% if bloc.contenu.autoplay is defined and bloc.contenu.autoplay != 0 %}
        options["autoplay"] = true;
    {% endif %}
    {% if bloc.contenu.fleches is defined and bloc.contenu.fleches != 0 %}
        options["arrows"] = true;
    {% endif %}
    {% if bloc.contenu.points is defined and bloc.contenu.points != 0 %}
        options["dots"] = true;
    {% endif %}

    $('#slider{{ bloc.id }}').slick(options);
</script>