<div id="slider{{ bloc.id }}">
    {% for slide in bloc.contenu.Slide %}
        <div>
            <img src="{{ slide.image.image }}" {% if slide.image.titre is defined %}alt="{{ slide.image.titre }}"{% endif %}>
            <div>
                {% if slide.image.titre is defined %}
                    <p>{{ slide.image.titre }}</p>
                {% endif %}
                {% if slide.image.description is defined %}
                    <p>{{ slide.image.description }}</p>
                {% endif %}
                {% if slide.lien is defined %}
                    <p><a href="{{ slide.lien }}">{{ "Lire la suite"|trans }}</a></p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>