{% set fiches = listeLEI(flux=bloc.contenu.flux, limite=bloc.contenu.limite) %}

<div class="fichesLEI grid-3 has-gutter-l">
    {% for fiche in fiches %}
        <div class="ficheLEI fiche-{{ fiche.PRODUIT }}">
            <p class="ficheLEI-commune">{{ fiche.ADRPROD_LIBELLE_COMMUNE }}</p>
            {% if fiche.CRITERES.Crit.0 is not empty %}
                <div class="ficheLEI-image">
                    <a href="/{{ app.request.locale }}/fiche/{{ fiche.NOM|replace({' ':'-'}) }}/{{ fiche.PRODUIT }}/{{ bloc.id }}">
                        <img src="https://{{ fiche.CRITERES.Crit.0 }}" alt="{{ fiche.NOM }}">
                    </a>
                </div>
            {% else %}
                <div class="ficheLEI-sansImage flex-container">
                    <a href="/{{ app.request.locale }}/fiche/{{ fiche.NOM|replace({' ':'-'}) }}/{{ fiche.PRODUIT }}/{{ bloc.id }}">
                        <i class="fas fa-camera"></i>
                    </a>
                </div>
            {% endif %}
            <p class="ficheLEI-titre">{{ fiche.NOM }}</p>
            <p class="ficheLEI-description">{{ fiche.COMMENTAIRE|truncate(50) }}</p>
            <a class="ficheLEI-lien" href="/{{ app.request.locale }}/fiche/{{ fiche.NOM|replace({' ':'-'}) }}/{{ fiche.PRODUIT }}/{{ bloc.id }}">{% trans %}LIRE LA SUITE{% endtrans %}</a>
        </div>
    {% endfor %}
</div>