{% set resultats = listeLEI(bloc.contenu) %}

<div class="pagination">
    {{ resultats.pagination|raw }}
</div>

<div class="fichesLEI grid-3-small-2 has-gutter-l">
    {% for fiche in resultats['donnees'] %}
        <div class="ficheLEI fiche-{{ fiche.PRODUIT }}">
            <p class="ficheLEI-commune">{{ fiche.ADRPROD_LIBELLE_COMMUNE }}</p>
            {% set photo = getPhotoPrincipale(fiche.CRITERES) %}
            {% if photo.photo is defined %}
                <div class="ficheLEI-image">
                    <a href="{% if langues|length > 1 %}/{{ langueActive.abreviation }}{% endif %}/fiche/{{ fiche.NOM|replace({' ':'-'}) }}/{{ fiche.PRODUIT }}/{{ bloc.id }}">
                        <img src="{{ photo.photo }}" {% if photo.credits is defined %}title="{{ "Crédits : "|trans }}{{ photo.credits }}"{% endif %}>
                    </a>
                </div>
            {% else %}
                <div class="ficheLEI-sansImage flex-container">
                    <a href="{% if langues|length > 1 %}/{{ langueActive.abreviation }}{% endif %}/fiche/{{ fiche.NOM|replace({' ':'-'}) }}/{{ fiche.PRODUIT }}/{{ bloc.id }}">
                        <i class="fas fa-camera"></i>
                    </a>
                </div>
            {% endif %}
            <p class="ficheLEI-titre">{{ fiche.NOM }}</p>
            <p class="ficheLEI-description">
                {% if fiche.COMMENTAIRE is defined and fiche.COMMENTAIRE is not empty %}
                    {{ fiche.COMMENTAIRE|truncate(100)|striptags }}
                {% endif %}
            </p>
            <div class="ficheLEI-lien">
                <a class="bouton" href="{% if langues|length > 1 %}/{{ langueActive.abreviation }}{% endif %}/fiche/{{ fiche.NOM|replace({' ':'-'}) }}/{{ fiche.PRODUIT }}/{{ bloc.id }}">{% trans %}LIRE LA SUITE{% endtrans %}</a>
            </div>
        </div>
    {% endfor %}
</div>

<div class="pagination">
    {{ resultats.pagination|raw }}
</div>