<div class="fichesLEI grid-3 has-gutter-l">
    {% if limite is not empty %}
        {% set liste = xml.sit_liste|slice(0, limite) %}
    {% else %}
        {% set liste = xml.sit_liste %}
    {% endif %}
    {% for fiche in liste %}
        <div class="ficheLEI fiche-{{ fiche.PRODUIT }}">
            <p class="ficheLEI-commune">{{ fiche.ADRPROD_LIBELLE_COMMUNE }}</p>
            {% if fiche.CRITERES.Crit.0 is not empty %}
                <div class="ficheLEI-image">
                    <a href="/{{ app.request.locale }}/fiche/{{ fiche.NOM|replace({' ':'-'}) }}/{{ fiche.PRODUIT }}/{{ idBloc }}">
                        <img src="https://{{ fiche.CRITERES.Crit.0 }}" alt="{{ fiche.NOM }}">
                    </a>
                </div>
            {% else %}
                <div class="ficheLEI-sansImage flex-container">
                    <a href="/{{ app.request.locale }}/fiche/{{ fiche.NOM|replace({' ':'-'}) }}/{{ fiche.PRODUIT }}/{{ idBloc }}">
                        <i class="fas fa-camera"></i>
                    </a>
                </div>
            {% endif %}
            <p class="ficheLEI-titre">{{ fiche.NOM }}</p>
            <p class="ficheLEI-description">{{ fiche.COMMENTAIRE|truncate(50) }}</p>
            <a class="ficheLEI-lien" href="/{{ app.request.locale }}/fiche/{{ fiche.NOM|replace({' ':'-'}) }}/{{ fiche.PRODUIT }}/{{ idBloc }}">{% trans %}LIRE LA SUITE{% endtrans %}</a>
        </div>
    {% endfor %}
</div>