{% extends 'front/base.html.twig' %}

{% block body %}
    <div class="recherche-header">
        {#<p>{{ "XX résultats pour votre recherche: " }}</p>
        <p><a class="afficherFormulaireRecherche" href="#">{{ "Affiner ma recherche"|trans|upper }}</a></p>#}
        <p>Chercher dans le titre : <input type="text" v-model="titre"></p>
        <p>Doit contenir une photo : <input type="checkbox" v-model="photo"></p>
    </div>
    <div class="recherche-resultats grid-3 has-gutter-xl">
        <div v-for="fiche in json.Resultat.sit_liste" v-if="fiche.NOM.indexOf(titre) !== -1 && (!photo || fiche.CRITERES.Crit[0])" class="mbm" :class="'fiche-'+fiche.PRODUIT" :key="fiche.PRODUIT">
            <div v-if="fiche.CRITERES.Crit[0]" class="ficheLEI-image">
                <a :href="'/{{ app.request.locale }}/fiche/' + fiche.NOM + '/' + fiche.PRODUIT + '/0' | strip">
                    <img :src="'https://' + fiche.CRITERES.Crit[0]" :alt="fiche.NOM">
                </a>
            </div>
            <div v-else class="ficheLEI-sansImage flex-container">
                <a :href="'/{{ app.request.locale }}/fiche/' + fiche.NOM + '/' + fiche.PRODUIT + '/0' | strip">
                    <i class="fas fa-camera"></i>
                </a>
            </div>
            <p class="ficheLEI-titre"><% fiche.NOM %></p>
            <p class="ficheLEI-description"><% fiche.COMMENTAIRE | truncate %>...</p>
            <a class="ficheLEI-lien" :href="'/{{ app.request.locale }}/fiche/' + fiche.NOM + '/' + fiche.PRODUIT + '/0' | strip">{% trans %}LIRE LA SUITE{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block javascripts_custom %}
    <script src="{{ asset('themes/terresdoh/js/vue.js') }}"></script>
    <script>
        vm = new Vue({
            el: '#rechercheVue',
            delimiters: ["<%","%>"],
            data: {
                json : {{ json|raw }},
                titre: '',
                photo: false
            },
            computed: {
            },
            filters: {
                truncate: function (value) {
                    if (!value) return '';
                    value = value.toString();
                    return value.substring(0, 49);
                },
                strip: function(value){
                    if (!value) return '';
                    value = value.toString();
                    return value.replace(new RegExp(' ', 'g'), '-');
                }
            }
        });
    </script>
{% endblock %}