<div class="filtreChargement"></div>

<div class="titre">
    {% if seo.page is defined %}
        {{ seo.page.titre }}
    {% elseif seo.categorie is defined %}
        {{ seo.categorie.nom }}
    {% else %}
        {{ seo.typeCategorie.nom }}
    {% endif %}
</div>

<div class="listeSEO-edition" data-id="{{ seo.id }}">
    <div class="listeSEO-formulaire"></div>
    <div class="listeSEO-scores flex-container">
        <span class="listeSEO-action-annuler" title="{{ "Annuler"|trans }}">
        <i class="fas fa-times-circle"></i>
    </span>
        <span class="listeSEO-action-enregistrer" title="{{ "Enregistrer"|trans }}">
        <i class="fas fa-check-circle"></i>
    </span>
    </div>
</div>

<div class="listeSEO-apercu">
    {% include 'back/SEO/_SEO-apercu.html.twig' %}
</div>

<div class="listeSEO-actions">
<span class="listeSEO-action-edition" title="{{ "Modifier"|trans }}">
    <i class="fas fa-pencil-alt"></i>
</span>
    <span class="listeSEO-action-voirPage" title="{{ "Voir la page"|trans }}">
    <a
        {% if seo.page is defined %}
            href="{{ path('easyadmin', { 'action': 'edit', 'entity': 'Page_Active', 'id' : seo.page.id }) }}" title="{{ "Voir la page"|trans }}"
        {% elseif seo.categorie is defined %}
            href="{{ path('easyadmin', { 'action': 'edit', 'entity': 'Categorie', 'id' : seo.categorie.id }) }}" title="{{ "Voir la catégorie"|trans }}"
        {% else %}
            href="{{ path('easyadmin', { 'action': 'edit', 'entity': 'TypeCategorie', 'id' : seo.typeCategorie.id }) }}" title="{{ "Voir le type de catégorie"|trans }}"
        {% endif %}
        target="_blank" ><i class="fas fa-file-alt"></i></a>
</span>
    <span class="listeSEO-action-raz" title="{{ "Réinitialiser"|trans }}">
    <i class="fas fa-undo"></i>
</span>
</div>