{% if bloc.contenu.affichage is defined and bloc.contenu.affichage == 'pages' %}
    {% set idPageActive = page.id|default(false) %}
    <div class="grid-3-small-2-tiny-1 has-gutter-xl">
        {% for page in pagesDeType(bloc.contenu.typeCategorie, bloc.contenu.limite|default(null)) %}
            {% if page.id != idPageActive %}
                <div class="blocTypeCategorie-page flex-container-v">
                    {{ blocAnnexe(page, 'Vignette') }}
                    <h3>{{ page.titre }}</h3>
                    {{ blocAnnexe(page, 'Resume') }}
                    <a class="bouton lire" href="{{ lienPage(page) }}">{{ "Lire la suite"|trans }}</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <div class="flex-container">
        {% for categorie in categoriesDeType(bloc.contenu.typeCategorie, bloc.contenu.limite|default(null)) %}
            <div class="blocTypeCategorie-categorie flex-container-v mrs mbs">
                {% if langues|length > 1 %}
                    {% set lien = path('voirCategorieLocale', { '_locale': categorie.langue.abreviation, 'urlTypeCategorie': categorie.typeCategorie.seo.url, 'urlCategorie': categorie.seo.url }) %}
                {% else %}
                    {% set lien = path('voirCategorie', { 'urlTypeCategorie': categorie.typeCategorie.seo.url, 'urlCategorie': categorie.seo.url }) %}
                {% endif %}
                <a class="bouton lire" href="{{ lien }}"><i class="fas fa-tag mrs"></i>{{ categorie.nom }}</a>
            </div>
        {% endfor %}
    </div>
{% endif %}
