{% if bloc.contenu.affichage is defined and bloc.contenu.affichage == 'pages' %}
    <div class="grid-3-small-2-tiny-1 has-gutter-xl">
        {% for page in pagesDeType(bloc.contenu.typeCategorie, bloc.contenu.limite|default(null)) %}
            <div class="blocTypeCategorie-page flex-container-v">
                {{ blocAnnexe(page, 'Vignette') }}
                <h3>{{ page.titre }}</h3>
                {{ blocAnnexe(page, 'Resume') }}
                <a class="bouton lire" href="{{ lienPage(page) }}">{{ "Lire la suite"|trans }}</a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="flex-container">
        {% for categorie in categoriesDeType(bloc.contenu.typeCategorie, bloc.contenu.limite|default(null)) %}
            <div class="blocTypeCategorie-categorie flex-container-v mrs mbs">
                <a class="bouton lire" href="
                    {% if langues|length > 1 %}
                        {{ path('voirCategorieLocale', { '_locale': categorie.langue.abreviation, 'urlTypeCategorie': categorie.typeCategorie.url, 'urlCategorie': categorie.url }) }}
                    {% else %}
                        {{ path('voirCategorie', { 'urlTypeCategorie': categorie.typeCategorie.url, 'urlCategorie': categorie.url }) }}
                    {% endif %}
                "><i class="fas fa-tag mrs"></i>{{ categorie.nom }}</a>
            </div>
        {% endfor %}
    </div>
{% endif %}
