<a class="bouton"
   {% if (bloc.contenu.lien is defined and bloc.contenu.lien is not empty) or (bloc.contenu.page is defined and bloc.contenu.page is not empty) %}
       href="
            {% if bloc.contenu.page is defined and bloc.contenu.page is not empty %}
                {% set page = page(bloc.contenu.page) %}
                {{ lienPage(page) }}
            {% elseif bloc.contenu.lien is defined and bloc.contenu.lien is not empty %}
                {{ bloc.contenu.lien }}
            {% endif %}
        "
   {% endif %}
   {% if bloc.contenu.blank.0 is defined and bloc.contenu.blank.0 %}
       target="_blank"
   {% endif %}
   {% if bloc.contenu.titre is defined and bloc.contenu.titre is not empty %}
        title="{{ bloc.contenu.titre }}"
   {% endif %}
>
    {% if bloc.contenu.texte is defined and bloc.contenu.texte is not empty %}
        {{ bloc.contenu.texte|raw }}
    {% elseif bloc.contenu.page is defined and bloc.contenu.page is not empty %}
        {{ page.titre }}
    {% else %}
        {{ "Voir la page"|trans }}
    {% endif %}
</a>