{% if bloc.contenu.typeLien == 'page' %}
    {% set pageCible = page(bloc.contenu.page|default(false)) %}
    {% if isPublie(pageCible) %}
        {% set lien = lienPage(pageCible) %}
    {% else %}
        {% set lien = false %}
    {% endif %}
{% elseif bloc.contenu.typeLien == 'autre' %}
    {% set lien = bloc.contenu.lien|default(false) %}
{% else %}
    {% set lien = '#' %}
{% endif %}

{% if lien %}
    <a class="bouton" {% if lien != '#' %}href="{{ lien }}"{% endif %}
       {% if bloc.contenu.blank.0 is defined and bloc.contenu.blank.0 %}
           target="_blank"
       {% endif %}
       {% if bloc.contenu.titre is defined and bloc.contenu.titre is not empty %}
            title="{{ bloc.contenu.titre }}"
       {% endif %}
    >
        {% if bloc.contenu.texte is defined and bloc.contenu.texte is not empty %}
            {{ bloc.contenu.texte|raw }}
        {% elseif pageCible is defined and pageCible is not empty %}
            {{ pageCible.titre }}
        {% else %}
            {{ "Voir la page"|trans }}
        {% endif %}
    </a>
{% endif %}