{% set resultats = listeUtilisateurs(bloc.contenu) %}

<div class="pagination">
    {{ resultats.pagination|raw }}
</div>

<div class="grid-3-small-2-tiny-1 has-gutter-xl">
    {% for utilisateur in resultats['donnees'] %}
        <div class="blocAnnuaire-utilisateur flex-container-v">
            <div class="blocAnnuaire-utilisateur-image">
                {% if utilisateur.imageProfil is not empty %}
                    <img src="uploads/{{ utilisateur.imageProfil }}" alt="{{ utilisateur.username }}">
                {% else %}
                    <i class="fas fa-user"></i>
                {% endif %}
            </div>
            <p>{{ utilisateur.username }}</p>
            <p>{{ utilisateur.email }}</p>
        </div>
    {% endfor %}
</div>

<div class="pagination">
    {{ resultats.pagination|raw }}
</div>