<div class="liste{{ typeBlocs }}">
    <div class="liste{{ typeBlocs }}-fermeture">
        <i class="fas fa-times"></i>
    </div>
    <i class="fas fa-spin fa-sync liste{{ typeBlocs }}-chargement"></i>
    <ul class="grid-6-small-2 has-gutter-l">
        {% for type,bloc in blocs %}
            <li id="{{ type }}" {% if bloc.disabled is defined %}class="disabled"{% endif %}>
                <div class="bloc-help">
                    <i class="fas fa-info-circle"></i>
                </div>
                <p>
                    {{ bloc.description }}
                </p>
                <i class="{{ bloc.icone }} bloc-icone"></i>
                <p class="bloc-nom">{{ bloc.nom }}</p>
            </li>
        {% endfor %}
    </ul>
</div>