<div class="listeBlocsDnD">
    <ul>
        {% for type,bloc in blocs %}
            <li class="listeBlocsDnD-bloc{% if bloc.disabled is defined %} disabled{% endif %}" data-type="{{ type }}">
                <i class="{{ bloc.icone }} bloc-icone"></i>
                <p class="bloc-nom txtcenter">{{ bloc.nom }}</p>
            </li>
        {% endfor %}
    </ul>
    {% set blocsPartages = blocsPartages() %}
    {% if blocsPartages %}
        <h3 class="txtcenter">{{ "Blocs partagés"|trans }}</h3>
        <ul>
            {% for blocPartage in blocsPartages %}
                <li class="listeBlocsDnD-bloc" data-bloc="{{ blocPartage.bloc.id }}" data-type="BlocPartage">
                    <i class="fas fa-share bloc-icone"></i>
                    <p class="bloc-nom txtcenter">{{ blocPartage.nom }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>