<div class="liste{{ typeBlocs }}">
    <div class="liste{{ typeBlocs }}-fermeture">
        <i class="fas fa-times"></i>
    </div>
    <i class="fas fa-spin fa-sync liste{{ typeBlocs }}-chargement"></i>
    <ul class="grid-5-small-2 has-gutter-l">
        {% for type,bloc in blocs if type != "BlocPartage" %}
            <li id="{{ type }}" class="{% if bloc.disabled is defined %}disabled {% endif %}{% if loop.index > 5 %}blocCache hidden{% endif %}">
                <div class="bloc-help">
                    <i class="fas fa-info-circle"></i>
                </div>
                <p>
                    {{ bloc.description }}
                </p>
                <i class="{{ bloc.icone }} bloc-icone"></i>
                <p class="bloc-nom">{{ bloc.nom }}</p>
            </li>
        {% endfor %}
    </ul>
    {% if typeBlocs == 'Blocs' %}
        <button class="voirBlocs">Voir tous les blocs</button>
        {% if app.request.get('entity') != 'BlocPartage' %}
            {% set blocsPartages = blocsPartages() %}
            {% if blocsPartages %}
                <h3 class="w100">{{ "Blocs partagés"|trans }}</h3>
                <ul class="grid-5-small-2 has-gutter-l">
                    {% for blocPartage in blocsPartages %}
                        <li class="blocPartage" data-modal="ajoutBlocPartage" data-bloc="{{ blocPartage.bloc.id }}">
                            <i class="fas fa-share bloc-icone"></i>
                            <p class="bloc-nom">{{ blocPartage.nom }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    {% endif %}
</div>

{# Boîte de dialogue ajout de bloc partagé #}
{% include 'back/blocs/blocsPartages/formulaireAjoutBlocPartage.html.twig' %}

{# Formulaire d'ajout de bloc partage #}
{% include 'back/blocs/blocsPartages/formulairesListeBlocsPartages.html.twig' %}