{% extends 'back/easyadmin/list.html.twig' %}

{% block main %}
    {% set _list_item_actions = easyadmin_get_actions_for_list_item(_entity_config.name) %}

    <div class="listeSEO-conteneur">
        {% for item in paginator.currentPageResults %}
            {% set _item_id = '' ~ attribute(item, _entity_config.primary_key_field_name) %}
            <div class="listeSEO-SEO" data-id="{{ _item_id }}">
                <div class="listeSEO-SEO-champs" data-id="{{ _item_id }}"></div>

                {% for field, metadata in fields %}
                    {% set isSortingField = metadata.property == app.request.get('sortField') %}
                    {% set _column_label =  (metadata.label ?: field|humanize)|trans(_trans_parameters)  %}

                    <div data-label="{{ _column_label }}" class="{{ field }} {{ isSortingField ? 'sorted' }} {{ metadata.dataType|lower }} {{ metadata.css_class }} {% if loop.first %}toggleElementTableau{% endif %}">
                        {% if field == "metaTitre" %}
                            {% set truncate = 65 %}
                        {% elseif field == "url" %}
                            {% set truncate = 75 %}
                        {% elseif field == "metaDescription" %}
                            {% set truncate = 150 %}
                        {% endif %}
                        {{ easyadmin_render_field_for_show_view(_entity_config.name, item, metadata)|truncate(truncate) }}
                    </div>
                {% endfor %}

                <div class="listeSEO-actions">
                    <span class="listeSEO-edition" title="{{ "Modifier"|trans }}">
                        <i class="fas fa-pencil-alt"></i>
                    </span>
                    <span class="listeSEO-raz" title="{{ "Réinitialiser"|trans }}">
                        <i class="fas fa-undo"></i>
                    </span>
                </div>

            </div>
        {% else %}
            <div class="no-results" colspan="{{ _list_item_actions|length > 0 ? fields|length + 1 : fields|length }}">
                {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
            </div>
        {% endfor %}
    </div>

    {% block paginator %}
        {{ parent() }}
    {% endblock paginator %}

    {% block delete_form %}
        {{ parent() }}
    {% endblock delete_form %}
{% endblock main %}