{% extends 'front/base.html.twig' %}

{% block title %}
    {% if page is not empty and page.seo.metaTitre is not empty %}
        {{ page.seo.metaTitre }}
    {% elseif page is not empty %}
        {{ page.langue.metaTitre }}
    {% else %}
        {{ langueActive.metaTitre }}
    {% endif %}
{% endblock %}
{% block head %}
    {% if page is not empty and page.seo.metaDescription is not empty %}
        {{ page.seo.metaDescription|striptags }}
    {% elseif page is not empty %}
        {{ page.langue.metaDescription|striptags }}
    {% else if langueActive is not empty and langueActive.metaDescription is not empty %}
        {{ langueActive.metaDescription|striptags }}
    {% endif %}
{% endblock %}
{% block main %}
<main>
    {% if page.titre is defined %}<h1>{{ page.titre }}</h1>{% endif %}
    {% if page is not empty %}
        {% if page.blocs is not empty %}
            {{ include('front/blocs.html.twig') }}
        {% endif %}
    {% endif %}
</main>
{% endblock %}