<!DOCTYPE html>
<html {% if langueActive is not empty %}lang="{{ langueActive.code }}"{% endif %}>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html" />
    <meta property="og:site_name" content="{{ config.nom }}">
    <meta property="og:locale" content="{{ langueActive.code }}">
    {% if not config.maintenance or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% block head %}
            <title>{% if langueActive.metaTitre is not empty %}{{ langueActive.metaTitre }}{% else %}{{ config.nom }}{% endif %}</title>
            <meta name="description" content="{% if langueActive.metaDescription is not empty %}{{ langueActive.metaDescription }}{% endif %}" />
            <meta property="og:title" content="{{ config.nom }}">
            <meta property="og:description" content="{% if langueActive.metaTitre is not empty %}{{ langueActive.metaTitre }}{% else %}{{ config.nom }}{% endif %}">
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/js/slickslider/slick.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('assets/js/slickslider/slick-theme.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('assets/js/fancybox/jquery.fancybox.min.css') }}" type="text/css">
            {{ include('front/extraCss.html.twig') }}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
                <link rel="stylesheet" href="{{ asset('assets/js/jstree/themes/style.css') }}">
                <link rel="stylesheet" href="{{ asset('assets/css/back.css') }}">
            {% endif %}
        {% endblock %}
        <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/fontawesome-all.min.js') }}"></script>
        <script src="{{ asset('assets/js/slickslider/slick.min.js') }}"></script>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <script src="{{ asset('assets/js/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ asset('assets/js/fosjsrouting/js/fos_js_routes.js') }}"></script>
        {% endif %}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon.ico') }}" />
    {% endif %}
</head>
{% if not config.maintenance or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <body class="front {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}connected {% endif %}{% if accueil is defined %}accueil {% endif %}">

        {# Menu horizontal du back office #}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ include('back/header.html.twig') }}
        {% endif %}
        {# Colonne de gauche du b/o #}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {{ include('back/aside.html.twig') }}
        {% endif %}

        {{ regions('avant') }}

        {# Si besoin d'un bloc sur toute la largeur de l'écran #}
        {% block before_main %}{% endblock %}

        <main {% if page is defined and page is not empty %}id="{{ page.id }}"{% endif %} class="center {% if page is defined %} page{% endif %}{% if menusDeLaPage is defined %}{% for menu in menusDeLaPage %} menu-{{ menu }}{% endfor %}{% endif %}">
            {% block fos_user_content %}{% endblock %}
            {% block main %}{% endblock %}
            {{ regions('centre') }}
        </main>

        {{ regions('apres') }}

        <div class="cookies" style="display: none">
            <p>En poursuivant votre navigation sur ce site : <a id="cookies-ok" href="#">vous acceptez l'utilisation de cookies</a> ou vous souhaitez <a href="
                {% if langues|length > 1 %}
                    {{ path("voirPageLocale", { '_locale': langueActive.abreviation, 'url': 'cookies'}) }}
                {% else %}
                    {{ path("voirPage", { 'url': 'cookies'}) }}
                {% endif %}">en savoir plus</a>
        </div>

        {% block javascripts %}
            {% if config.analytics is not empty %}
                {{ config.analytics|raw }}
            {% endif %}
            <script src="{{ asset('assets/js/jscookie/cookie.js') }}"></script>
            <script src="{{ asset('assets/js/fancybox/jquery.fancybox.min.js') }}"></script>
            <script src="{{ asset('assets/js/jsFront.js') }}"></script>
            {{ include('front/extraJs.html.twig') }}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <script src="{{ asset('assets/js/jsHeaderSidebar.js') }}"></script>
                <script src="{{ asset('assets/js/jstree/jstree.min.js') }}"></script>
                <script src='{{ asset('assets/js/fosjsrouting/js/router.js') }}'></script>
                <script src="{{ asset('assets/js/fosjsrouting/js/fos_js_routes.js') }}"></script>
            {% endif %}
        {% endblock %}
    </body>
{% else %}
    <body style="display: flex; align-items: center; justify-content: center; height: 100vh; margin: 0; background-color: #6e6e6e">
        <p style="text-align: center; border: 2px solid #ffff00; border-radius: 5px; padding: 10px 20px; font-family: arial; font-weight: bold; color: #ffff00; font-size: 2rem; ">Vous essayez d'accéder à un site protégé. <br> Merci de vous authentifier.</p>
    </body>
{% endif %}
</html>