{% extends 'front/base.html.twig' %}

{% block head %}
    <title>{{ categorie.seo.metaTitre }}</title>
    <meta name="description" content="
        {% if categorie.seo.metaDescription is not empty %}
            {{ categorie.seo.metaDescription|striptags }}
        {% else %}
            {{ categorie.langue.metaDescription|striptags }}
        {% endif %}
    " />
    <meta property="og:title" content="{{ categorie.seo.metaTitre }}">
    <meta property="og:description" content="
        {% if categorie.seo.metaDescription is not empty %}
            {{ categorie.seo.metaDescription|striptags }}
        {% else %}
            {{ categorie.langue.metaDescription|striptags }}
        {% endif %}
    ">
{% endblock %}

{% block main %}
    <h1>Liste des pages classées dans "{{ categorie.nom }}"</h1>
    <p class="description">{{ categorie.description|raw }}</p>
    <div class="blocPageCategorie grid-3 small-1 has-gutter-xl">
        {% for page in pages %}
            <div class="categorie-page flex-container-v">
                {{ blocAnnexe(page, 'Vignette') }}
                <h2>{{ page.titre }}</h2>
                {{ blocAnnexe(page, 'Resume') }}
                <a class="bouton" href="{{ lienPage(page) }}">{% trans %}Voir la page{% endtrans %}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}