<a href="
    {% if langues|length > 1 %}
        {{ path('accueilLocale', { '_locale': langueActive.abreviation }) }}
    {% else %}
        {{ path('accueil') }}
    {% endif %}
">{% trans %}Accueil{% endtrans %}</a>
{% if pageDansMenuPrincipal %}
    <span>></span>
    {% for page in ariane %}
        {% if loop.last %}
            {% if page.titreMenu is not empty %}
                {{ page.titreMenu }}
            {% else %}
                {{ page.titre }}
            {% endif %}
        {% else %}
            <a href="{{ page.seo.url }}">
                {% if page.titreMenu is not empty %}
                    {{ page.titreMenu }}
                {% else %}
                    {{ page.titre }}
                {% endif %}
            </a>
            <span>></span>
        {% endif %}
    {% endfor %}
{% endif %}