{% extends 'front/base.html.twig' %}

{% block title %}
    {% if page.seo.metaTitre is not empty %}
        {{ page.seo.metaTitre }}
    {% else %}
        {{ page.langue.metaTitre }}
    {% endif %}
{% endblock %}
{% block head %}
    {% if page.seo.metaDescription is not empty %}{{ page.seo.metaDescription|striptags }}{% else %}{{ page.langue.metaDescription|striptags }}{% endif %}
{% endblock %}
{% block main %}
    {% for message in app.session.flashbag.get('OK') %}
        <p class="message">{{ message }}</p>
    {% endfor %}

    <div id="ariane">
        {{ ariane(page.id) }}
    </div>

    <h1 class="titre-page">{{ page.titre }}</h1>

    {% if page.affichageDatePublication or page.affichageAuteur or page.categories is not empty %}
        <p class="infos-page">
            {% if page.affichageDatePublication %}
                {{ 'Publié le'|trans }}
                {{ page.datePublication|date("d/m/Y") }}
            {% endif %}
            {% if page.affichageAuteur %}
                {{ 'par'|trans }}
                {{ page.auteur }}
            {% endif %}
            {% if page.categories is not empty %}
                {% if page.affichageDatePublication %}
                    {{ 'dans les catégories'|trans }}
                {% endif %}
                {% for categorie in page.categories %}
                    <a class="bouton-categorie" href="{{ path('voirCategorie', { 'urlTypeCategorie': categorie.typeCategorie.url, 'urlCategorie': categorie.url }) }}">{{ categorie.nom }}</a>
                {% endfor %}
            {% endif %}
        </p>
    {% endif %}

    {% if page.blocs is not empty %}
        {% include('front/blocs.html.twig') with {'blocs': page.blocs} only %}
    {% endif %}

    {% if page.affichageCommentaires %}
        <div class="blocCommentaires">
            <h2>Commentaires sur "{{ page.titre }}" ({{ page.commentaires|length }})</h2>
            {% for message in app.session.flashbag.get('comOK') %}
                <p class="message">{{ message }}</p>
            {% endfor %}
            <p class="blocCommentaires-ajout">Ajouter un commentaire<i class="fas fa-angle-down mls"></i></p>
            <div class="blocCommentaires-formulaire">
                {{ form(form) }}
            </div>
            {% for commentaire in commentaires %}
                {% if commentaire.corbeille == false and commentaire.valide == true %}
                <div class="commentaire">
                    <p>Par <strong>{{ commentaire.auteur }}</strong> le {{ commentaire.date|date("d/m/Y") }} à {{ commentaire.date|date("G:i") }}</p>
                    <p class="pas">{{ commentaire.contenu|raw }}</p>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}