{% extends 'front/base.html.twig' %}

{% block head %}
    {{ include('front/page-meta.html.twig') }}
    <meta property="og:type" content="article">
{% endblock %}

{% block main %}
    {% for message in app.session.flashbag.get('OK') %}
        <p class="message">{{ message }}</p>
    {% endfor %}

    <div id="ariane">
        {{ ariane(page.id) }}
    </div>

    <h1 class="titre-page">{{ page.titre }}</h1>

    {% if page.affichageDatePublication or page.affichageAuteur or page.categories is not empty %}
        <p class="infos-page">
            {% if page.affichageDatePublication %}
                {{ 'Publié le'|trans }}
                {{ page.datePublication|date("d/m/Y") }}
            {% endif %}
            {% if page.affichageAuteur %}
                {{ 'par'|trans }}
                {% if page.auteur is not empty %}
                    {{ page.auteur }}
                {% else %}
                    <i>{{ "Compte supprimé"|trans }}</i>
                {% endif %}
            {% endif %}
            {% if page.categories is not empty %}
                {% if page.affichageDatePublication %}
                    {{ 'dans les catégories'|trans }}
                {% endif %}
                {% for categorie in page.categories %}
                    <a class="bouton-categorie" href="
                        {% if langues|length > 1 %}
                            {{ path('voirCategorieLocale', { '_locale': categorie.typeCategorie.langue.abreviation, 'urlTypeCategorie': categorie.typeCategorie.seo.url, 'urlCategorie': categorie.seo.url }) }}
                        {% else %}
                            {{ path('voirCategorie', { 'urlTypeCategorie': categorie.typeCategorie.seo.url, 'urlCategorie': categorie.seo.url }) }}
                        {% endif %}
                    "><i class="fas fa-tag"></i>{{ categorie.nom }}</a>
                {% endfor %}
            {% endif %}
        </p>
    {% endif %}

    {{ blocs(page)|raw }}

    {% if page.affichageCommentaires %}
        {% include 'front/page-commentaires.html.twig' %}
    {% endif %}

{% endblock %}