<ul>
    {# Lien première page - texte #}
    <li>
        {% if page != 1 %}
            <a href="?page=1">{{ "Première page"|trans }}</a>
        {% else %}
            <span>{{ "Première page"|trans }}</span>
        {% endif %}
    </li>

    {# Lien page précédente - texte #}
    <li>
        {% if page != 1 %}
            <a href="?page={{ page - 1 }}">{{ "Page précédente"|trans }}</a>
        {% else %}
            <span>{{ "Page précédente"|trans }}</span>
        {% endif %}
    </li>

    {# Lien première page - nb #}
    {% if page > 2 %}
        <li>
            <a href="?page=1">1</a>
        </li>
        {% if page > 3 %}
            <li>
                <span>...</span>
            </li>
        {% endif %}
    {% endif %}

    {# Lien page précédente - nb #}
    {% if page != 1 %}
        <li>
            <a href="?page={{ page - 1 }}">{{ page - 1 }}</a>
        </li>
    {% endif %}

    {# Page actuelle #}
    <li class="pagination-active">
        {{ page }}
    </li>

    {# Lien page suivante - nb #}
    {% if page != nbPages %}
        <li>
            <a href="?page={{ page + 1 }}">{{ page + 1 }}</a>
        </li>
    {% endif %}

    {# Lien dernière page - nb #}
    {% if page + 2 < nbPages %}
        {% if page + 3 < nbPages %}
            <li>
                <span>...</span>
            </li>
        {% endif %}
        <li>
            <a href="?page={{ nbPages }}">{{ nbPages }}</a>
        </li>
    {% endif %}

    {# Lien page suivante - texte #}
    <li>
        {% if page != nbPages %}
            <a href="?page={{ page + 1 }}">{{ "Page suivante"|trans }}</a>
        {% else %}
            <span>{{ "Page suivante"|trans }}</span>
        {% endif %}
    </li>

    {# Lien dernière page - texte #}
    <li>
        {% if page != nbPages %}
            <a href="?page={{ nbPages }}">{{ "Dernière page"|trans }}</a>
        {% else %}
            <span>{{ "Dernière page"|trans }}</span>
        {% endif %}
    </li>
</ul>