{% extends 'front/base.html.twig' %}

{% block title %}{{ parent() }} - {{ typeCategorie.nom }}{% endblock %}

{% block body %}
<h1>{{ "Liste des termes"|trans }} "{{ typeCategorie.nom }}"</h1>
    <div class="description">{{ typeCategorie.description|raw }}</div>
    {% for categorie in categories %}
    <div class="extrait">
        <h2><a href="{{ path('voirCategorie', {'urlTypeCategorie':typeCategorie.url, 'urlCategorie':categorie.url}) }}">{{ categorie.nom }}</a></h2>
        <div class="description">{{ categorie.description|raw }}</div>
    </div>
    {% endfor %}
{% endblock %}