{% extends 'front/base.html.twig' %}

{% block title %}{{ parent() }} - {{ categorie.nom }}{% endblock %}

{% block body %}
<h1>Liste des pages classées dans "{{ categorie.nom }}"</h1>
    <p class="description">{{ categorie.description }}</p>
    {% for page in pages %}
    <div class="extrait">
        <h2><a href="{{ path('voirPage', {'url':page.seo.url}) }}">{{ page.titre }}</a></h2>
        <span>Publié le {{ page.datePublication|date("d/m/Y") }} par {{ page.auteur }}</span>
        <p>{{ page.contenu|raw }}</p>
    </div>
    {% endfor %}
{% endblock %}