{% extends 'back/base.html.twig' %}
{% if form is not empty %}
    {% form_theme form with easyadmin_config('design.form_theme') %}
{% endif %}

{% block main %}
    <div class="parametrageTheme">
        <h1>{{ "Paramètres du thème"|trans }} "{{ nom }}"</h1>
        <p><a href="{{ path("theme") }}"><i class="fas fa-arrow-left"></i> {{ "Retour à la liste des thèmes"|trans }}</a></p>
        {% if form is not empty %}
            {{ form(form) }}
        {% else %}
            <p>{{ "Ce thème n'est pas paramétrable"|trans }}</p>
        {% endif %}
    </div>
{% endblock %}

{% block body_javascript %}
    <script src="{{ asset('assets/js/partials/jsBackTheme.js') }}"></script>
{% endblock body_javascript %}