{% if bloc.contenu.typeRS == 'liens' %}
    <div class="blocReseauxSociaux-liens">
        {% if bloc.contenu.facebookUrl is defined and bloc.contenu.facebookUrl is not empty %}<a href="{{ bloc.contenu.facebookUrl }}" target="_blank"><i class="fab fa-facebook-f"></i></a>{% endif %}
        {% if bloc.contenu.twitterUrl is defined and bloc.contenu.twitterUrl is not empty %}<a href="{{ bloc.contenu.twitterUrl }}" target="_blank"><i class="fab fa-twitter"></i></a>{% endif %}
        {% if bloc.contenu.instagramUrl is defined and bloc.contenu.instagramUrl is not empty %}<a href="{{ bloc.contenu.instagramUrl }}" target="_blank"><i class="fab fa-instagram"></i></a>{% endif %}
        {% if bloc.contenu.youtubeUrl is defined and bloc.contenu.youtubeUrl is not empty %}<a href="{{ bloc.contenu.youtubeUrl }}" target="_blank"><i class="fab fa-youtube"></i></a>{% endif %}
        {% if bloc.contenu.linkedInUrl is defined and bloc.contenu.linkedInUrl is not empty %}<a href="{{ bloc.contenu.linkedInUrl }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>{% endif %}
        {% if bloc.contenu.emailUrl is defined and bloc.contenu.emailUrl is not empty %}<a href="mailto:{{ bloc.contenu.emailUrl }}"><i class="fas fa-envelope"></i></a>{% endif %}
    </div>
{% elseif bloc.contenu.typeRS == 'partage' %}
    <div class="blocReseauxSociaux-partage">
        {% if page is defined and page is not empty %}
            {% set lienPage = lienPage(page) %}

            {% if bloc.contenu.facebook.0 is defined %}
                <a class="bouton" href="https://www.facebook.com/sharer.php?u={{ lienPage }}" target="_blank" alt="{{ "Partager sur Facebook"|trans }}">
                    <i class="fab fa-facebook-f"></i> {{ "Partager sur Facebook"|trans }}
                </a>
            {% endif %}
            {% if bloc.contenu.twitter.0 is defined %}
                <a class="bouton" href="https://twitter.com/intent/tweet?url={{ lienPage }}&text={{ page.titre }}&hashtags={{ config.nom|replace({' ': '', '&': ''}) }}" target="_blank" alt="{{ "Partager sur Twitter"|trans }}">
                    <i class="fab fa-twitter"></i> {{ "Partager sur Twitter"|trans }}
                </a>
            {% endif %}
            {% if bloc.contenu.linkedIn.0 is defined %}
                <a class="bouton" href="https://www.linkedin.com/shareArticle?mini=true&url={{ lienPage }}&title={{ page.titre|truncate(200) }}{% if blocAnnexe(page, 'Resume') %}&summary={{ blocAnnexe(page, 'Resume', false)|striptags|truncate(256) }}{% endif %}" target="_blank" alt="{{ "Partager sur LinkedIn"|trans }}">
                    <i class="fab fa-linkedin-in"></i> {{ "Partager sur LinkedIn"|trans }}
                </a>
            {% endif %}
        {% endif %}
    </div>
{% endif %}