{% if bloc.contenu.facebook.0 is defined %}
    <a href="{{ bloc.contenu.facebookUrl }}"><i class="fab fa-facebook-f"></i></a>
{% endif %}
{% if bloc.contenu.twitter.0 is defined %}
    <a href="{{ bloc.contenu.twitterUrl }}"><i class="fab fa-twitter"></i></a>
{% endif %}
{% if bloc.contenu.instagram.0 is defined %}
    <a href="{{ bloc.contenu.instagramUrl }}"><i class="fab fa-instagram"></i></a>
{% endif %}
{% if bloc.contenu.youtube.0 is defined %}
    <a href="{{ bloc.contenu.youtubeUrl }}"><i class="fab fa-youtube"></i></a>
{% endif %}
{% if bloc.contenu.linkedIn.0 is defined %}
    <a href="{{ bloc.contenu.linkedInUrl }}"><i class="fab fa-linkedin-in"></i></a>
{% endif %}