{% if bloc.contenu is not empty %}

    {% if (bloc.contenu.lien is defined and bloc.contenu.lien is not empty) or (bloc.contenu.page is defined and bloc.contenu.page is not empty) %}
        {% set lien = true %}
    {% else %}
        {% set lien = false %}
    {% endif %}

    {% if bloc.contenu.titre is defined and bloc.contenu.titre is not empty %}
        <figure>
            {% if bloc.contenu.image is not empty %}
                {% if lien %}
                    <a href="
                        {% if bloc.contenu.page is defined and bloc.contenu.page is not empty %}
                            {% set page = page(bloc.contenu.page) %}
                            {{ lienPage(page) }}
                        {% else %}
                            {{ bloc.contenu.lien }}
                        {% endif %}
                    "
                    {% if bloc.contenu.blank is defined and bloc.contenu.blank is not empty and bloc.contenu.blank %}target="_blank"{% endif %}
                    >
                {% endif %}
                <img src="{{ bloc.contenu.image }}" {% if bloc.contenu.description is defined and bloc.contenu.description is not empty %}alt="{{ bloc.contenu.description }}"{% endif %}>
                {% if lien %}
                    </a>
                {% endif %}
            {% endif %}
            <figcaption>{{ bloc.contenu.titre }}</figcaption>
        </figure>
    {% else %}
        {% if bloc.contenu.image is not empty %}
            {% if lien %}
                <a href="
                    {% if bloc.contenu.page is defined and bloc.contenu.page is not empty %}
                        {% set page = page(bloc.contenu.page) %}
                        {{ lienPage(page) }}
                    {% else %}
                        {{ bloc.contenu.lien }}
                    {% endif %}
                "
                {% if bloc.contenu.blank is defined and bloc.contenu.blank is not empty and bloc.contenu.blank %}target="_blank"{% endif %}
                >
            {% endif %}
            <img src="{{ bloc.contenu.image }}" {% if bloc.contenu.description is defined and bloc.contenu.description is not empty %}alt="{{ bloc.contenu.description }}"{% endif %}>
            {% if lien %}
                </a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}