{% if bloc.contenu.image is not empty %}
    {# Alignement #}
    {% if bloc.contenu.alignement is defined and bloc.contenu.alignement is not empty %}
        {% if bloc.contenu.alignement == 'gauche' %}
            {% set alignement = 'txtleft' %}
        {% elseif bloc.contenu.alignement == 'droite' %}
            {% set alignement = 'txtright' %}
        {% else %}
            {% set alignement = 'txtcenter' %}
        {% endif %}
    {% else %}
        {% set alignement = 'txtleft' %}
    {% endif %}

    {# Hauteur / largeur max #}
    {% set style = '' %}
    {% if bloc.contenu.hauteurMax is defined and bloc.contenu.hauteurMax is not empty %}
        {% set style = style~'max-height: '~bloc.contenu.hauteurMax~'px;' %}
    {% endif %}
    {% if bloc.contenu.largeurMax is defined and bloc.contenu.largeurMax is not empty %}
        {% set style = style~'max-width: '~bloc.contenu.largeurMax~'px;' %}
    {% endif %}

    {# Choix du fichier #}
    {% set image = getTaille(bloc.contenu.image, 'large') %}
    {% if bloc.contenu.largeurMax is defined and bloc.contenu.largeurMax is not empty and bloc.contenu.largeurMax <= 200 %}
        {% set image = getTaille(bloc.contenu.image, 'small') %}
    {% elseif bloc.contenu.largeurMax is defined and bloc.contenu.largeurMax is not empty and bloc.contenu.largeurMax <= 500 %}
        {% set image = getTaille(bloc.contenu.image, 'medium') %}
    {% endif %}

    {# Lien ? #}
    {% if (bloc.contenu.lien is defined and bloc.contenu.lien is not empty) or (bloc.contenu.page is defined and bloc.contenu.page is not empty) or (bloc.contenu.typeLien is defined and bloc.contenu.typeLien == 'lightbox') %}
        {% set lien = true %}
    {% else %}
        {% set lien = false %}
    {% endif %}

    <div class="{{ alignement }}">
        {% if bloc.contenu.titre is defined and bloc.contenu.titre is not empty %}
            <figure>
        {% endif %}
        {% if lien %}
            <a href="
                {% if bloc.contenu.page is defined and bloc.contenu.page is not empty %}
                    {% set page = page(bloc.contenu.page) %}
                    {{ lienPage(page) }}
                {% elseif bloc.contenu.lien is defined and bloc.contenu.lien is not empty %}
                    {{ bloc.contenu.lien }}
                {% else %}
                    {{ bloc.contenu.image }}
                {% endif %}
            "
            {% if bloc.contenu.typeLien is defined and bloc.contenu.typeLien == 'lightbox' %}
                class="galerie"
                data-fancybox="galerie{{ bloc.id }}"
            {% endif %}
            {% if bloc.contenu.blank is defined and bloc.contenu.blank is not empty and bloc.contenu.blank %}target="_blank"{% endif %}
            >
        {% endif %}
        <img src="{{ image }}" {% if bloc.contenu.description is defined and bloc.contenu.description is not empty %}alt="{{ bloc.contenu.description }}"{% endif %} style="{{ style }}">
        {% if lien %}
            </a>
        {% endif %}
        {% if bloc.contenu.titre is defined and bloc.contenu.titre is not empty %}
                <figcaption>{{ bloc.contenu.titre }}</figcaption>
            </figure>
        {% endif %}
    </div>
{% endif %}