<aside class="main-sidebar">
    {% block sidebar %}
        <section class="sidebar">
            {% block arborescence %}
                {{ menusBack()|raw }}
            {% endblock %}
            <div id="sidebar-logo">
                {% block sidebar_logo %}
                    <a class="logo" href="{{ path('tableauDeBord') }}">
                        <img src="{{ asset('assets/img/logoNinaBlanc.png') }}" alt="CMS Nina 3">
                    </a>
                    <a id="btn-toggle-regions" href="#" title="{{ 'Visualiser les régions'|trans }}"><i class="fas fa-layer-group"></i><span class="mls">{{ 'Visualiser les régions'|trans }}</span></a>
                {% endblock sidebar_logo %}
            </div>
        </section>
    {% endblock sidebar %}
</aside>