<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('en') }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="generator" content="EasyAdmin" />

        <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">

        <title>{% block page_title %}{{ block('content_title')|striptags|raw }}{% endblock %}</title>

        {% block head_stylesheets %}
        {% endblock %}

        {% for css_asset in easyadmin_config('design.assets.css') %}
            <link rel="stylesheet" href="{{ asset(css_asset) }}">
        {% endfor %}

        {% block head_favicon %}
            {% set favicon = easyadmin_config('design.assets.favicon') %}
            <link rel="icon" type="{{ favicon.mime_type }}" href="{{ asset(favicon.path) }}" />
        {% endblock %}

        {% block head_javascript %}
            {% block adminlte_options %}
                <script type="text/javascript">
                    var AdminLTEOptions = {
                        animationSpeed: 'normal',
                        sidebarExpandOnHover: false,
                        enableBoxRefresh: false,
                        enableBSToppltip: false,
                        enableFastclick: false,
                        enableControlSidebar: false,
                        enableBoxWidget: false
                    };
                </script>
            {% endblock %}
            <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/easyadmin/easyadmin-all.min.js') }}"></script>
            <script src="{{ asset('assets/js/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ asset('assets/js/fosjsrouting/js/fos_js_routes.js') }}"></script>
            <script src="{{ asset('assets/js/tinymce/tinymce.min.js') }}"></script>
            <script src="{{ asset('assets/js/fancybox/jquery.fancybox.min.js') }}"></script>
        {% endblock head_javascript %}

        {% if easyadmin_config('design.rtl') %}
            <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/bootstrap-rtl.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/easyadmin/stylesheet/adminlte-rtl.min.css') }}">
        {% endif %}

        {#@Todo à supprimer ou à activer#}
        {#{% if _entity_config.name is defined and _entity_config.name == 'Page_Active' %}#}
            {#{% include 'front/extraCss.html.twig' %}#}
        {#{% endif %}#}
    </head>

    {% block body %}
    <body id="{% block body_id %}{% endblock %}" class="easyadmin sidebar-mini {% block body_class %}{% endblock %} {{ app.request.cookies.has('_easyadmin_navigation_iscollapsed') ? 'sidebar-collapse' }} {% if app.user.couleurBO is not empty %}{{ app.user.couleurBO }}{% endif %}">
        <div class="wrapper">
        {% block wrapper %}

            {{ include('back/header.html.twig') }}

            {{ include('back/aside.html.twig') }}

            <div class="content-wrapper">
            {% block content %}
                <section class="content-header">
                {% block content_header %}
                    <h1 class="title">{% block content_title %}{% endblock %}</h1>
                {% endblock content_header %}
                {% block content_help %}
                    {% if _entity_config is defined and _entity_config[app.request.query.get('action')]['help']|default(false) %}
                        <div class="box box-widget help-entity">
                            <div class="box-body">
                                {{ _entity_config[app.request.query.get('action')]['help']|trans|raw }}
                            </div>
                        </div>
                    {% endif %}
                {% endblock content_help %}
                </section>

                <section id="main" class="content">
                    {% block flash_messages %}
                        {{ include(_entity_config is defined and _entity_config.templates is defined ? _entity_config.templates.flash_messages : '@EasyAdmin/default/flash_messages.html.twig') }}
                    {% endblock flash_messages %}
                    {% block main %}{% endblock %}
                </section>
            {% endblock content %}
            </div>
            <div class="conteneurChargement">
                <i class="fas fa-sync fa-spin"></i>
            </div>
        {% endblock wrapper %}
        </div>

        {% block body_javascript %}
        {% endblock body_javascript %}

        {% if assetExists(app.request.baseUrl~'theme/js/optionsTinyMCE.js') %}
            <script src="{{ asset('theme/js/optionsTinyMCE.js') }}"></script>
        {% else %}
            <script src="{{ asset('assets/js/optionsTinyMCE.js') }}"></script>
        {% endif %}

        {% for js_asset in easyadmin_config('design.assets.js') %}
            <script src="{{ asset(js_asset) }}"></script>
        {% endfor %}

        {% if _entity_config is defined %}
            {% if _entity_config.name == 'Page_Active' %}
                <script src="{{ asset('assets/js/partials/jsBackPage.js') }}"></script>
            {% endif %}

            {% set partials = ['Utilisateur', 'Langue', 'ConfigBloc', 'Theme', 'Sauvegarde', 'Traduction', 'Categorie', 'TypeCategorie'] %}

            {% if _entity_config.name == 'Page_Active' or _entity_config.name == 'GroupeBlocs' %}
                <script src="{{ asset('assets/js/partials/jsBackBloc.js') }}"></script>
            {% else %}
                <script src="{{ asset('assets/js/partials/jsBack'~_entity_config.name~'.js') }}"></script>
            {% endif %}
        {% endif %}

    </body>
    {% endblock body %}
</html>
