{% if form.vars.full_name == 'image' %}
    <div>
        {{- form_label(form.children.image) -}}
        {{- form_widget(form.children.image) -}}
    </div>
    <div>
        <a class="iframe module_image_bouton_mediatheque" href='/filemanager/dialog.php?type=1&field_id={{ form.children.image.vars.id }}' type="button">{{ 'Ouvrir la médiathèque'|trans }}</a>
        <div class="module_image_apercu_mediatheque">
            <img src="{{ form.children.image.vars.value }}" alt="">
        </div>
    </div>
    <div>
        {{- form_label(form.children.titre) -}}
        {{- form_widget(form.children.titre) -}}
    </div>
    <div>
        {{- form_label(form.children.description) -}}
        {{- form_widget(form.children.description) -}}
    </div>
    <script>
        $('.module_image_bouton_mediatheque').fancybox({
            type: 'iframe',
            minHeight: '600'
        });
    </script>
{% else %}
    {{ form_widget(form) }}
{% endif %}