{% extends 'back/base.html.twig' %}

{% block content %}
    <h1>Sauvegarde</h1>
    <div class="sauvegarde">
        <div class="export-bdd">
            <h2>Base de données</h2>
            <button id="export-bdd">{{ 'Créer une nouvelle sauvegarde'|trans }}</button>
            <div class="loader"><i class="fas fa-sync fa-spin"></i></div>

            <table id="dumps-bdd" class="table">
                <thead>
                    <tr>
                        <th>{{ 'Date de la sauvegarde'|trans }}</th>
                        <th>{{ 'Télécharger'|trans }}</th>
                        <th>{{ 'Supprimer'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for timestamp,date in dumpsBdd %}
                        <tr>
                            <td>{{ date }}</td>
                            <td><a class="telechargementDump" href="{{ path('telechargerDump', {type: "bdd", fichier: timestamp}) }}"><i class="fas fa-file-download"></i></a></td>
                            <td><a id="{{ timestamp }}" href="#" class="export-bdd-supprimer"><i class="fas fa-trash"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="export-mediatheque">
            <h2>Médiathèque</h2>
            <button id="export-mediatheque">{{ 'Créer une nouvelle sauvegarde'|trans }}</button>
            <div class="loader"><i class="fas fa-sync fa-spin"></i></div>

            <table id="dumps-mediatheque" class="table">
                <thead>
                <tr>
                    <th>{{ 'Date de la sauvegarde'|trans }}</th>
                    <th>{{ 'Télécharger'|trans }}</th>
                    <th>{{ 'Supprimer'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for timestamp,date in dumpsMediatheque %}
                    <tr>
                        <td>{{ date }}</td>
                        <td><a class="telechargementDump" href="{{ path('telechargerDump', {type: "mediatheque", fichier: timestamp}) }}"><i class="fas fa-file-download"></i></a></td>
                        <td><a id="{{ timestamp }}" href="#" class="export-mediatheque-supprimer"><i class="fas fa-trash"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}