{% extends 'back/base.html.twig' %}

{% block content %}
    <h1>Thèmes</h1>
    <div class="messages">
        <div class="loader"><i class="fas fa-sync fa-spin"></i></div>
        <div class="message-ok"><i class="fas fa-check-circle"></i>{{ "Le thème a été modifié"|trans }}</div>
        <div class="message-fail"><i class="fas fa-times"></i>{{ "Le thème n'a pas pu être modifié"|trans }}</div>
    </div>
    <div class="grid-3 has-gutter-xl themes">
        {% for nom,theme in themes %}
            <div id="{{ nom }}" class="theme{% if config.theme == nom %} actif{% endif %}">
                <div class="theme-illustration">
                    <div class="theme-actif">{{ 'Activé'|trans }}</div>
                    {% if assetExists(app.request.baseUrl~'themes_thumbs/'~nom~'.jpg') %}
                        <img src="{{ asset('themes_thumbs/'~nom~'.jpg') }}" alt="{{ nom }}">
                    {% else %}
                        <i class="fas fa-camera"></i>
                    {% endif %}
                </div>
                <div class="theme-infos">
                    <h2>{{ theme.nom }}</h2>
                    <p><strong>{{ "Auteur : "|trans }}</strong>{{ theme.auteur }}</p>
                    <p><strong>{{ "Site de l'auteur : "|trans }}</strong><a href="{{ theme.site }}">{{ theme.site }}</a></p>
                    <p><strong>{{ "Description : "|trans }}</strong>{{ theme.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}