{% extends 'back/base.html.twig' %}

{% block content %}
    <div id="flash-messages" class="traductionTemplate-messages">
        <div class="alert alert-enregistrement">{{ "La traduction de cet onglet a bien été enregistrée"|trans }}</div>
    </div>

    <a href="{{ path('traductionsTemplates') }}" class="bouton"><i class="mrs fas fa-arrow-left"></i>{{ "Retour au choix des templates à traduire"|trans }}</a>

    <h1>Modification des traductions des templates du {{ domaine }} ({{ langue.nom }})</h1>

    {% if fichiers is not empty %}
        <div class="conteneurChargement">
            <i class="fas fa-sync fa-spin"></i>
        </div>
        <div id="tabs">
            <ul class="nav-tabs-traductions">
                {% for nom, segments in fichiers %}
                    <li {% if loop.first %}class="active"{% endif %}><a href="#{{ nom }}" id="{{ nom }}-tab" data-toggle="tab">{{ nom }}</a></li>
                {% endfor %}
            </ul>
            {% for nom, segments in fichiers %}
            <div id="{{ nom }}" class="tab-pane traductionTemplate-onglet {% if loop.first %}active{% endif %} ">
                <h2>{{ nom }}</h2>
                <button class="mbs traductionTemplate-copie">{{ "Copier les sources" }}</button>
                <form data-fichier="{{ nom }}">
                    {% for segment in segments.unit %}
                        <div class="flex-container mw1140p mbs">
                            <label class="w30 prs" for="{{ segment.attributes.id }}">{{ segment.segment.source }}</label>
                            <input class="w70" type="text" name="{{ segment.attributes.id }}" id="{{ segment.attributes.id }}" value="{{ segment.segment.target }}">
                        </div>
                    {% endfor %}
                    <a href="#" class="mts btn traductionTemplate" data-fichier="{{ nom }}">{{ "Enregistrer les traductions"|trans }}</a>
                </form>
            </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}