{% extends 'back/base.html.twig' %}

{% block content %}
    <h1>Traduction des pages</h1>

    {% if pages is not empty %}
        <table class="table">
            <thead>
                <tr>
                    {% for langue in langues|sortBy('defaut')|reverse %}
                        <th>{{ langue.nom }}</th>
                    {% endfor %}
                </tr>
            </thead>
                <tbody>
                    {% for langue in langues|sortBy('defaut')|reverse %}
                        {% for page in langue.pages %}
                            {% if page.traductions[langueDefaut.id] is not defined or page.traductions[langueDefaut.id] is empty %}
                                <tr>
                                    {% for langue in langues|sortBy('defaut')|reverse %}
                                        {% if langue == page.langue %}
                                            <td><a href="{{ path('easyadmin', {'action':'edit', 'entity':'Page_Active', 'id':page.id}) }}">{{ page.titre }}</a></td>
                                        {% else %}
                                            <td>
                                                {% if page.traductions is not empty and page.traductions[langue.id] is defined and page.traductions[langue.id] is not empty %}
                                                    {% set traduction = getTraduction(page.traductions[langue.id]) %}
                                                    <a href="{{ path('easyadmin', {'action':'edit', 'entity':'Page_Active', 'id':traduction.id}) }}">{{ traduction.titre }}</a>
                                                {% else %}
                                                    <a class="vert" href="{{ path('easyadmin', { action: 'new', entity: 'Page_Active', pageOriginale: page.id, langue: langue.id, 'confirmation': 'oui' }) }}"><i class="fas fa-plus"></i> {{ "Créer une traduction"|trans }}</a>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
        </table>
    {% endif %}
{% endblock %}