{% form_theme form with easyadmin_config('design.form_theme') %}

{% set _entity_config = easyadmin_entity(app.request.query.get('entity')) %}
{% set _entity_id = attribute(entity, _entity_config.primary_key_field_name) %}
{% trans_default_domain _entity_config.translation_domain %}
{% set _trans_parameters = { '%entity_name%': _entity_config.name|trans, '%entity_label%': _entity_config.label|trans, '%entity_id%': _entity_id } %}

{% extends _entity_config.templates.layout %}

{% block body_id 'easyadmin-edit-' ~ _entity_config.name ~ '-' ~ _entity_id %}
{% block body_class 'edit edit-' ~ _entity_config.name|lower %}

{% block content_title %}
{% spaceless %}
    {% set _default_title = 'edit.page_title'|trans(_trans_parameters, 'EasyAdminBundle') %}
    {% if _entity_config.edit.title is defined %}
        {% if _entity_config.edit.title == '%entity_label%' %}
            {{ _entity_config.edit.title|trans(_trans_parameters) }}
        {% else %}
            {{ _entity_config.label|trans(_trans_parameters) }} : {{ attribute(entity, _entity_config.edit.title) }}
        {% endif %}
    {% else %}
        {{ _default_title }}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block main %}
    {% if blocs is defined %}
        {% include('back/blocs/liste.html.twig') with { 'blocs': blocs, 'typeBlocs': 'Blocs' } only %}
    {% endif %}

    {% if blocsAnnexes is defined %}
        {% include('back/blocs/liste.html.twig') with { 'blocs': blocsAnnexes, 'typeBlocs': 'BlocsAnnexes' } only %}
    {% endif %}

    {% block entity_form %}
        {% if _entity_config.name == 'Utilisateur' and _entity_id == app.user.id %}
            {% set class = 'utilisateurCourant' %}
        {% else %}
            {% set class= 'autreUtilisateur' %}
        {% endif %}
        {{ form(form, {attr: {novalidate: "novalidate", autocomplete: "off", class: class|default('')}}) }}
    {% endblock entity_form %}

    {% block delete_form %}
        {{ include('back/formulaireSuppression.html.twig', {
            view: 'edit',
            referer: app.request.query.get('referer', ''),
            delete_form: delete_form,
            _translation_domain: _entity_config.translation_domain,
            _trans_parameters: _trans_parameters,
            _entity_config: _entity_config,
        }, with_context = false) }}
    {% endblock delete_form %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}

    <script type="text/javascript">
        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        $(function() {
            $('.edit-form').areYouSure({ 'message': '{{ 'form.are_you_sure'|trans({}, 'EasyAdminBundle')|e('js') }}' });

            $('.form-actions').easyAdminSticky();

            $('a.action-delete').on('click', function(e) {
                e.preventDefault();

                $('#modal-delete').modal({ backdrop: true, keyboard: true })
                    .off('click', '#modal-delete-button')
                    .on('click', '#modal-delete-button', function () {
                        $('#delete-form').trigger('submit');
                    });
            });
        });

        function responsive_filemanager_callback(field_id){
            $('#'+field_id).val($('#'+field_id).val().replace(window.origin, ''));
        }
    </script>
    <div id="mediatheque"></div>
    <div id="conteneurApercu"></div>
    {{ include('@EasyAdmin/default/includes/_select2_widget.html.twig') }}
{% endblock %}
