{% for menuPage in menuPages %}
    {% if menuPage.parent is empty and isPublie(menuPage.page) %}
        <li {% if isParent(menuPage) and menuPage.page.affichageSousNiveaux %}class="parent"{% endif %}>
            <a href="
                {% if menuPage.page.langue.pageAccueil == menuPage.page %}
                    {% if langues|length > 1 %}
                        {{ path('accueilLocale', { '_locale': menuPage.page.langue.abreviation }) }}
                    {% else %}
                        {{ path('accueil') }}
                    {% endif %}
                {% else %}
                    {% if langues|length > 1 %}
                        {{ path('voirPageLocale', {'_locale': menuPage.page.langue.abreviation, 'url' : menuPage.page.seo.url}) }}
                    {% else %}
                        {{ path('voirPage', {'url' : menuPage.page.seo.url}) }}
                    {% endif %}
                {% endif %}
            ">
                {{ menuPage.page.titreMenu }}
            </a>
            {% if menuPage.page.affichageSousNiveaux %}
                {{ sousMenu(menuPage, 'front')|raw }}
            {% endif %}
        </li>
    {% endif %}
{% endfor %}