{% set resultats = pagesDeLaCategorie(langueActive, bloc.contenu) %}

<div class="pagination">
    {{ resultats.pagination|raw }}
</div>

<div class="grid-3-small-2-tiny-1 has-gutter-xl">
    {% for page in resultats['donnees'] %}
        <div class="blocCategorie-page flex-container-v">
            {{ blocAnnexe(page, 'Vignette') }}
            <h3>{{ page.titre }}</h3>
            {{ blocAnnexe(page, 'Resume') }}
            <a class="bouton lire" href="{{ path('voirPage', { 'url':page.seo.url } ) }}">{{ "Lire la suite"|trans }}</a>
        </div>
    {% endfor %}
</div>

<div class="pagination">
    {{ resultats.pagination|raw }}
</div>