<div class="grid-3 small-1 has-gutter-xl">
    {% for page in pagesDeLaCategorie(bloc.contenu.categorie) %}
        <div class="blocCategorie-page flex-container-v">
            {{ blocAnnexe(page, 'Vignette') }}
            <p>{{ page.titre }}</p>
            {{ blocAnnexe(page, 'Resume') }}
            <a class="lire" href="{{ page.seo.url }}">{{ "Découvrir"|trans|upper }}</a>
        </div>
    {% endfor %}
</div>