<div class="grid-3-small-2-tiny-1 has-gutter-xl">
    {% for page in pagesDeLaCategorie(bloc.contenu.categorie) %}
        <div class="blocCategorie-page flex-container-v">
            {{ blocAnnexe(page, 'Vignette') }}
            <h2>{{ page.titre }}</h2>
            {{ blocAnnexe(page, 'Resume') }}
            <a class="bouton lire" href="{{ page.seo.url }}">{{ "Lire la suite"|trans }}</a>
        </div>
    {% endfor %}
</div>