{% set resultats = pagesDeLaCategorie(langueActive, bloc.contenu) %}
{% set idPageActive = page.id %}

<div class="pagination">
    {{ resultats.pagination|raw }}
</div>

<div class="grid-3-small-2-tiny-1 has-gutter-xl">
    {% for page in resultats['donnees'] %}
        {% if page.id != idPageActive %}
            <div class="blocCategorie-page flex-container-v">
                {{ blocAnnexe(page, 'Vignette') }}
                <h3>{{ page.titre }}</h3>
                {{ blocAnnexe(page, 'Resume') }}
                <a class="bouton lire" href="{{ lienPage(page) }}">{{ "Lire la suite"|trans }}</a>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="pagination">
    {{ resultats.pagination|raw }}
</div>