{% extends 'front/base.html.twig' %}

{% block title %}{{ config.nom }} - {{ "Erreur 404"|trans }}{% endblock %}

{% block head %}{% endblock %}

{% block body %}
    <h1>{{ "Erreur 404 - Page non trouvée"|trans }}</h1>
    <p>{{ "Il semble que la page que vous essayez d'atteindre n'existe pas ou ait été supprimée."|trans }}</p>
    <p>{{ "Souhaitez-vous"|trans }} <a href="{{ path("accueil") }}">{{ "retourner à l'accueil ?"|trans }}</a></p>
{% endblock %}