<header>
    <div class="txtcenter arbo-titre active">
        <i class="fas fa-sitemap"></i> {% trans %}Menus{% endtrans %}
        <a href="#" id="btnArbo"><i class="fas fa-chevron-circle-down"></i></a>
    </div>
</header>
<div class="sidebar-menus">
    <div class="arbo-langues">
        {% for langue in langues %}
            <span{{ app.session.get('_locale') == langue.abreviation ? " class='current'" }}>
                <a href="{{ path('changerLangue', {'id' : langue.id}) }}">{{ langue.abreviation|upper }}</a>
            </span>
        {% endfor %}
        <div id="loader-arbo" class="fr"></div>
    </div>
    {% for menu in menus %}
        <p class="menuToggle">{{ menu.nom }} <i class="fas fa-angle-up"></i></p>
        <div id="menu-{{ menu.id }}">
            <ul>
                {% include 'back/menu/menu.html.twig' with{'menuPages' : menu.menuPage} only %}
            </ul>
        </div>
    {% endfor %}
</div>

<script>
    $(document).ready(function(){
        //Initialisation JSTree
        options = {
            "plugins" : [
                "dnd", "state", "types", "contextmenu"
            ],
            "contextmenu":{
                "items": function(node){
                    return{
                        "edit":{
                            "icon": "fa fa-pencil-alt",
                            "label": "Éditer",
                            "action": function(){
                                idPage = $('#'+node.id).find('.page').attr('id');
                                window.location.href = "{{ app.request.baseUrl }}"+Routing.generate('admin', { action: 'edit', entity: 'Page_Active', id: idPage });
                            }
                        },
                        /*"create":{
                            "icon": "fa fa-plus",
                            "label": "Ajouter une page enfant",
                            "action": function(){
                                idPage = $('#'+node.id).find('.page').attr('id');
                                window.location.href = "{{ app.request.baseUrl }}"+Routing.generate('admin', { action: 'new', entity: 'Page_Active', idPageParent: idPage });
                            }
                        },*/
                        "duplicate":{
                            "icon": "fa fa-copy",
                            "label": "Dupliquer",
                            "action": function(){
                                idPage = $('#'+node.id).find('.page').attr('id');
                                window.location.href = "{{ app.request.baseUrl }}"+Routing.generate('admin', { action: 'dupliquer', entity: 'Page_Active', idPageOriginale: idPage });
                            }
                        },
                        "delete":{
                            "icon": "fa fa-trash-alt",
                            "label": "Supprimer",
                            "action": function(){
                                idPage = $('#'+node.id).find('.page').attr('id');
                                window.location.href = "{{ app.request.baseUrl }}"+Routing.generate('admin', { action: 'corbeille', entity: 'Page_Active', id: idPage });
                            }
                        }
                    };
                }
            },
            "state" : { "key" : "menuVertical"},
            "types" : {
                "default" : {
                    "icon" : "far fa-xs fa-file-alt"
                }
            },
            "core" : {
                "animation" : 0,
                "check_callback" : true,
                "themes" : { "stripes" : false }
            }
        };

        $('.sidebar-menus div[id^="menu"]').jstree(options);//Menus

        enregistrementMenu = function(e, data){
            $('#loader-arbo').fadeIn().html("<i class='fas fa-sync fa-spin'></i>");
            arbo = [];
            $(this).jstree('open_node', data.node.parent);
            $(this).find('.jstree-container-ul').find('li').each(function(){
                position = $(this).index();

                idLi = $(this).attr('id');
                idMenu = $('#'+idLi).parents('div[id^="menu"]').attr('id').substr(5, 1);
                idMenuPage = $('#'+idLi).find('.menuPage').attr('id');
                idPage = $('#'+idLi).find('.page').attr('id');

                if($(this).parent('ul').hasClass('jstree-container-ul')){
                    idPageParent = null;
                }else{
                    idLiParent = $(this).parent('ul').parent('li').attr('id');
                    idPageParent = $('#'+idLiParent).find('.page').attr('id');
                }

                menuPage = [idMenuPage, idPage, position, idPageParent, idMenu];

                console.log(menuPage);

                arbo.push(menuPage);
            });
            $.ajax({
                url: "{{ path('enregistrerMenu') }}",
                method: "post",
                data: {arbo: arbo}
            })
                .done(function(){
                    $('#loader-arbo').fadeIn().html("<i class='fas fa-check'></i>").delay(600).fadeOut();
                })
                .fail(function(){
                    $('#loader-arbo').fadeIn().html("<i class='fas fa-times'></i>").delay(600).fadeOut();
                });
        };

        $('.sidebar-menus div[id^="menu"]').on('move_node.jstree', enregistrementMenu);
        $('.sidebar-menus div[id^="menu"]').on('copy_node.jstree', enregistrementMenu);
    });
</script>
