<header>
    <div class="txtcenter arbo-titre active">
        <i class="fas fa-sitemap"></i> {% trans %}Menus{% endtrans %}
        <a href="#" id="btnArbo"><i class="fas fa-chevron-circle-down"></i></a>
    </div>
</header>
<div class="sidebar-menus">
    <div class="arbo-langues">
        {% for langue in langues %}
            <span{{ app.session.get('_locale') == langue.abreviation ? " class='current'" }}>
                <a href="{{ path('changerLangue', {'id' : langue.id}) }}">{{ langue.abreviation|upper }}</a>
            </span>
        {% endfor %}
    </div>
    {% for menu in menus %}
        <div class="menu">
            <span id="loader-arbo" class="menu-{{ menu.id }}"></span>
            <div id="menu-{{ menu.id }}">
                <ul>
                    <li data-jstree='{"type":"root"}'>{{ menu.nom }}
                        <ul>
                            {% include 'back/menu/menu.html.twig' with{'menuPages' : menu.menuPage} only %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    {% endfor %}
    <div class="menu">
        <span id="loader-arbo" class="menu-0"></span>
        <div id="menu-0">
            <ul>
                <li data-jstree='{"type":"root"}'>Pages hors menus
                    <ul>
                        {{ pagesOrphelines()|raw }}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        function menuContextuel(node){
            var items = {
                "edit":{
                    "icon": "fa fa-pencil-alt",
                    "label": "Éditer",
                    "action": function(){
                        if(node.type === 'root'){//Si Menu
                            idMenu = $('#'+node.id).parents('div').attr('id').substr(5);
                            window.location.href = "{{ app.request.baseUrl }}"+Routing.generate('admin', { action: 'edit', entity: 'Menu', id: idMenu });
                        }else{//Si Page
                            idPage = $('#'+node.id).find('.page').attr('id');
                            window.location.href = "{{ app.request.baseUrl }}"+Routing.generate('admin', { action: 'edit', entity: 'Page_Active', id: idPage });
                        }
                    }
                },
                "create":{
                    "icon": "fa fa-plus",
                    "label": "Ajouter une page enfant",
                    "action": function(){
                        if(node.type === 'root'){//Si Menu
                            idPageParent = null;
                        }else{//Si Page
                            idPageParent = $('#'+node.id).find('.page').attr('id');
                        }
                        idMenu = $('#'+node.id).parents('div').attr('id').substr(5);

                        idMenuComplet = $('#'+node.id).parents('div').attr('id');

                        $('#loader-arbo.'+idMenuComplet).fadeIn().html("<i class='fas fa-sync fa-spin'></i>");

                        $.ajax({
                            url: "{{ path('ajouterPageEnfant') }}",
                            method: "post",
                            data: {idPageParent: idPageParent, idMenu : idMenu}
                        })
                            .done(function(data){
                                $('#loader-arbo.'+idMenuComplet).fadeIn().html("<i class='fas fa-check'></i>").delay(600).fadeOut();

                                idPage = data.substring(0, data.indexOf('*'));
                                idMenuPage = data.substring(data.indexOf('*')+1);

                                console.log(data);
                                console.log(idPage);
                                console.log(idMenuPage);
                                nouveauNode = $('#'+idMenuComplet).jstree("create_node", node, 'Page sans titre<span class="menuPage" id="'+idMenuPage+'"></span><span class="page" id="'+idPage+'"></span>', 'first', false, false);
                            })
                            .fail(function(){
                                $('#loader-arbo.'+idMenuComplet).html("<i class='fas fa-times'></i>").delay(600).fadeOut();
                            });
                    }
                },
                "duplicate":{
                    "icon": "fa fa-copy",
                    "label": "Dupliquer",
                    "action": function(){
                        idPage = $('#'+node.id).find('.page').attr('id');
                        window.location.href = "{{ app.request.baseUrl }}"+Routing.generate('admin', { action: 'dupliquer', entity: 'Page_Active', id: idPage });
                    }
                },
                "remove":{
                    "icon": "fa fa-minus",
                    "label": "Retirer du menu",
                    "action": function(){
                        idMenuPage = $('#'+node.id).find('.menuPage').attr('id');
                        idMenu = $('#'+node.id).parents('div').attr('id');
                        $('#loader-arbo.'+idMenu).fadeIn().html("<i class='fas fa-sync fa-spin'></i>");

                        $.ajax({
                            url: "{{ path('retirerDuMenu') }}",
                            method: "post",
                            data: {idMenuPage: idMenuPage}
                        })
                            .done(function(data){
                                $('#loader-arbo.'+idMenu).fadeIn().html("<i class='fas fa-check'></i>").delay(600).fadeOut();
                                idPage = $('#'+node.id).find('.page').attr('id');
                                if(data === "orpheline"){
                                    $('#menu-0').jstree("create_node", null, node, 'last', false, false);
                                }
                                $('#'+idMenu).jstree().delete_node([node.id]);
                            })
                            .fail(function(){
                                $('#loader-arbo.'+idMenu).html("<i class='fas fa-times'></i>").delay(600).fadeOut();
                            });
                    }
                },
                "delete":{
                    "icon": "fa fa-trash-alt",
                    "label": "Supprimer",
                    "action": function(){
                        idPage = $('#'+node.id).find('.page').attr('id');
                        window.location.href = "{{ app.request.baseUrl }}"+Routing.generate('admin', { action: 'corbeille', entity: 'Page_Active', id: idPage });
                    }
                }
            };

            if (node.type === 'root'){
                delete items.delete;
                delete items.duplicate;
                delete items.remove;
            }

            return items;
        }

        //Initialisation JSTree
        options = {
            "plugins" : [
                "dnd", "state", "types", "contextmenu"
            ],
            "contextmenu":{
                "items": menuContextuel
            },
            //"state" : { "key" : "menuVertical"},//Pour sauvegarder l'état de l'arbo
            "types" : {
                "#" : {
                    "valid_children" : ["root"]
                },
                "root" : {
                    "icon" : "fas fa-folder"
                },
                "default" : {
                    "icon" : "far fa-file"
                }
            },
            "core" : {
                "animation" : 0,
                "html_titles" : true,
                "check_callback" : true,
                "themes" : { "stripes" : false }
            },
            "dnd": {
                "is_draggable" : function(nodes, event){
                    return(nodes[0].type !== 'root');
                }
            }
        };

        $('.sidebar-menus div[id^="menu"]').jstree(options);//Menus

        enregistrementMenu = function(e, data){
            idMenuComplet = $('#'+data.node.id).parents('div').attr('id');
            $('#loader-arbo.'+idMenuComplet).fadeIn().html("<i class='fas fa-sync fa-spin'></i>");
            arbo = [];
            $(this).jstree('open_node', data.node.parent);
            $(this).find('.jstree-container-ul li').find('li').each(function(){
                position = $(this).index();

                idLi = $(this).attr('id');
                idMenu = $('#'+idLi).parents('div[id^="menu"]').attr('id').substr(5);
                idMenuPage = $('#'+idLi).find('.menuPage').attr('id');
                idPage = $('#'+idLi).find('.page').attr('id');

                if($(this).parent('ul').parent('li').parent('ul').hasClass('jstree-container-ul')){
                    idPageParent = null;
                }else{
                    idLiParent = $(this).parent('ul').parent('li').attr('id');
                    idPageParent = $('#'+idLiParent).find('.page').attr('id');
                }
                menuPage = [idMenuPage, idPage, position, idPageParent, idMenu];

                console.log(menuPage);

                arbo.push(menuPage);
            });
            $.ajax({
                url: "{{ path('enregistrerMenu') }}",
                method: "post",
                data: {arbo: arbo}
            })
                .done(function(){
                    $('#loader-arbo.'+idMenuComplet).fadeIn().html("<i class='fas fa-check'></i>").delay(600).fadeOut();
                })
                .fail(function(){
                    $('#loader-arbo.'+idMenuComplet).fadeIn().html("<i class='fas fa-times'></i>").delay(600).fadeOut();
                });
        };

        $('.sidebar-menus div[id^="menu"]').on('move_node.jstree copy_node.jstree', enregistrementMenu);
        $('.sidebar-menus div[id^="menu"]').on('create_node.jstree', function(e, data){
            idMenuComplet = $('#'+data.node.id).parents('div').attr('id');
            if(!idMenuComplet === 'menu-0'){
                enregistrementMenu();
            }
        });
        $('.sidebar-menus div[id^="menu"]').on('ready.jstree', function(){
            $(this).jstree().open_all();
        });
    });
</script>
