<header>
    <div class="arbo-titre active">
        <a href="#" id="btnArbo" class="txtcenter">
            <i class="fas fa-sitemap"></i>
            <span>{% trans %}Menus{% endtrans %}</span>
            <i class="fas fa-chevron-circle-down"></i>
        </a>
    </div>
</header>
<div class="sidebar-menus{% if langues|length == 1 %} langueUnique{% endif %}">
    <div class="arbo-langues{% if langues|length == 1 %} hidden{% endif %}">
        {% for langue in langues %}
            <span {% if langueArbo == langue %}class="current"{% endif %}>
                <a class="{{ langue.id }}" href="{{ path('admin', { 'action': 'search', 'entity': 'Page_Active', 'query': langue.nom}) }}">{{ langue.abreviation|upper }}</a>
            </span>
        {% endfor %}
    </div>
    {% block search_action %}
        <div class="sidebar global-actions">
            <div class="form-action action-search">
                <div class="input-group">
                    <input id="recherche-arbo" class="form-control" type="search" name="query" value="" placeholder="{{ "Recherche"|trans }}">
                    <i id="recherche-arbo-loupe" class="fas fa-search"></i>
                    <i id="recherche-arbo-chargement" class="hidden fas fa-spin fa-sync"></i>
                    <i id="recherche-arbo-vidange" class="hidden fas fa-times"></i>
                </div>
            </div>
        </div>
    {% endblock search_action %}
    <div id="recherche-arbo-resultats"></div>
    <div class="arborescence">
        {{ pageAccueil()|raw }}
        {% if menus is defined %}
            {% for menu in menus %}
                <div class="menu">
                    <span id="loader-arbo" class="menu-{{ menu.id }}"></span>
                    <div id="menu-{{ menu.id }}">
                        <ul>
                            <li data-jstree='{"type":"root"}'>{{ menu.nom }}<i class="fas fa-ellipsis-v"></i>
                                <ul>
                                    {% include 'back/menu/menu.html.twig' with {'menuPages' : menu.menuPage, 'langueArbo' : langueArbo} only %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="menu">
            <span id="loader-arbo" class="menu-0"></span>
            <div id="menu-0">
                <ul>
                    <li data-jstree='{"type":"orphan"}'>Pages hors menus<i class="fas fa-ellipsis-v"></i>
                        <ul>
                            {{ pagesOrphelines()|raw }}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('assets/js/jsArbo.js') }}"></script>
