<header>
    <div class="txtcenter arbo-titre active">
        <i class="fas fa-sitemap"></i> <span>{% trans %}Menus{% endtrans %}</span>
        <a href="#" id="btnArbo"><i class="fas fa-chevron-circle-down"></i></a>
    </div>
</header>
<div class="sidebar-menus">
    <div class="arbo-langues">
        {% for langue in langues %}
            <span {% if langueArbo == langue %}class="current"{% endif %}>
                <a class="{{ langue.id }}" href="#">{{ langue.abreviation|upper }}</a>
            </span>
        {% endfor %}
    </div>
    {% block search_action %}
        <div class="sidebar global-actions">
            <div class="form-action action-search">
                <form method="get" action="{{ path('easyadmin') }}">
                    {% block search_form %}
                        <input type="hidden" name="action" value="search">
                        <input type="hidden" name="entity" value="Page_Active">
                        <input type="hidden" name="sortField" value="titre">
                        <input type="hidden" name="sortDirection" value="DESC">
                        <input type="hidden" name="menuIndex" value="1">
                        <input type="hidden" name="submenuIndex" value="0">
                        <div class="input-group">
                            <input class="form-control" type="search" name="query" value="">
                            <span class="sidebar input-group-btn">
                                <button type="submit" formtarget="_self">
                                    <i class="fa fa-search"></i>
                                    {#<span class="hidden-xs hidden-sm">{{ _action.label|default('action.search')|trans(_trans_parameters) }}</span>#}
                                </button>
                            </span>
                        </div>
                    {% endblock %}
                </form>
            </div>
        </div>
    {% endblock search_action %}
    <div class="arborescence">
        {{ pageAccueil()|raw }}
        {% if menus is defined %}
            {% for menu in menus %}
                <div class="menu">
                    <span id="loader-arbo" class="menu-{{ menu.id }}"></span>
                    <div id="menu-{{ menu.id }}">
                        <ul>
                            <li data-jstree='{"type":"root"}'>{{ menu.nom }}
                                <ul>
                                    {% include 'back/menu/menu.html.twig' with {'menuPages' : menu.menuPage, 'langueArbo' : langueArbo} only %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="menu">
            <span id="loader-arbo" class="menu-0"></span>
            <div id="menu-0">
                <ul>
                    <li data-jstree='{"type":"root"}'>Pages hors menus
                        <ul>
                            {{ pagesOrphelines()|raw }}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('assets/js/jsArbo.js') }}"></script>
