<div class="pageAccueil">
    {% if pageAccueil is empty %}
        <p>{{ "Aucune page d'accueil n'a été définie pour cette langue"|trans }}</p>
            <a class="sansPageAccueil" href="{{ path('easyadmin', {'entity':'Langue', 'action':'edit', 'id':langueArbo.id}) }}#langue_pageAccueil"><i class="fas fa-home"></i><span class="pageAccueil-titre">{{ "Choisir une page d'accueil"|trans }}</span></a>
        <ul id="pageAccueil-menu">
            <li>
                <a href="#"><i class="fas fa-pencil-alt"></i>Éditer</a>
            </li>
            <li>
                <a href="/{{ langueArbo.abreviation }}"><i class="fas fa-eye"></i>Voir</a>
            </li>
        </ul>
    {% else %}
        <a class="pageAccueil-page" href="#">
            <i class="fas fa-home"></i>
            <span class="pageAccueil-titre">
                {{ pageAccueil.titreMenu }}
            </span>
        </a>
        <ul id="pageAccueil-menu">
            <li>
                <a href="{{ path('easyadmin', {'entity':'Page_Active', 'action':'edit', 'id':pageAccueil.id}) }}"><i class="fas fa-pencil-alt"></i>Éditer</a>
            </li>
            <li>
                <a href="/{{ langueArbo.abreviation }}"><i class="fas fa-eye"></i>Voir</a>
            </li>
        </ul>
    {% endif %}
</div>