<div class="pageAccueil">
    {% if pageAccueil is empty %}
        <p>{{ "Aucune page d'accueil définie"|trans }}</p>
        <a class="sansPageAccueil" href="{{ path('admin', {'entity':'Configuration', 'action':'edit', 'id':'1'}) }}"><i class="fas fa-angle-right"></i>{{ "Choisir une page d'accueil"|trans }}</a>
    {% else %}
        <a href="{{ path('admin', {'entity':'Page_Active', 'action':'edit', 'id':pageAccueil.id}) }}"><i class="fas fa-home"></i>{{ pageAccueil.titre }}</a>
    {% endif %}
</div>