{% extends 'installeur/base.html.twig' %}

{% block main %}
    <div>
        <h2><i class="fas fa-gamepad"></i> À vous de jouer !</h2>
        <p>{{ "L'installation de Nina est à présent terminée."|trans }}<br>{{ "Vous pouvez vous connecter au back-office avec les identifiants que vous venez de créer." }}</p>
        <p class="flex-container boutonsLarges">
            <a class="btnFonce" href="{{ path('admin') }}">{{ "Se connecter à l'interface d'administration"|trans }}</a>
            <a href="{{ path('accueil') }}">{{ "Voir le front-office"|trans }}</a>
        </p>
    </div>
    <div>
        <h2><i class="fas fa-book"></i> Documentation en ligne</h2>
        <p>Besoin d’aide ? Pour en savoir plus sur l’utilisation du back-office de Nina,<br>  développer vos propres thèmes et module,...</p>
        <p class="flex-container boutonsLarges">
            <a target="_blank" href="https://www.cms-nina.fr/fr/creer-une-page">{{ "Documentation à destination des utilisateurs"|trans }}</a>
            <a target="_blank" href="https://www.cms-nina.fr/fr/creer-un-theme">{{ "Documentation à destination des développeurs"|trans }}</a>
        </p>
    </div>
{% endblock %}