<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>{% block title %}{{ "CMS Nina - Installation"|trans }}{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('assets/css/installeur.css') }}" type="text/css">
        {% endblock %}
        <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/fontawesome-all.min.js') }}"></script>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <script src="{{ asset('assets/js/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ asset('assets/js/fosjsrouting/js/fos_js_routes.js') }}"></script>
        {% endif %}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon.ico') }}" />
    </head>
    <body>
        <main class="mw1140p center flex-container">
            {% if app.request.get('etape') != 7 %}
                <ol class="tunnel">
                    {% set etapeDesactivee = false %}
                    {% for numero, etape in etapes %}
                        {% if not loop.last %}
                            {% if etape.active %}
                                {% set etapeDesactivee = true %}
                            {% endif %}
                            <li {% if etape.active %}class="active"{% endif %}>
                                {% if not etapeDesactivee %}
                                    <a href="{{ path('installeur', {etape: numero}) }}">
                                {% endif %}
                                {{ etape.titre }}
                                {% if not etapeDesactivee %}
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ol>
            {% endif %}
            <div class="contenu">
                <h1>{{ etapes[app.request.get('etape')].titreComplet }}</h1>
                {% block main %}{% endblock %}
            </div>
        </main>

        {% block javascripts %}
            <script src="{{ asset('assets/js/jsInstalleur.js') }}"></script>
        {% endblock %}
    </body>
</html>